<section class="slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-image-wrapper">
            <img src="../../../assets/hopitals/view-hospital/image0.JPEG" class="d-block w-100 carousel-image-controler" alt="...">
          </div>
          <div class="container">
            <div class="carousel-caption custome-carousel-caption text-white  pt-2 rounded slider-custom-bg">
                <h1 class="lh-sm">มีศูนย์ปรึกษาคุณหมอจากเกาหลี รองรับลูกค้าเพื่อให้คำปรึกษา</h1>
                <p class="fs-5">จากประสบการณ์การทำศัลยกรรม ที่เกาหลีด้วยตัวเองและด้วยการดูแลเคสลูกค้ามาตลอด มากกว่า 8 ปี </p>
                <div class="text-end">
                  <a class="bg-second  btn text-white text-end" href="tel:0987849936">สอบถามรายละเอียด</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/view-hospital/image1.JPG" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water 2" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/view-hospital/image2.JPEG" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/view-hospital/image3.JPG" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/view-hospital/image4.JPEG" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/view-hospital/image5.JPG" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/view-hospital/image6.JPEG" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/view-hospital/image7.JPG" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/view-hospital/image8.JPEG" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/view-hospital/image9.JPG" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/view-hospital/image10.JPEG" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/view-hospital/image11.JPG" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/view-hospital/image12.JPG" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/view-hospital/image13.JPG" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
    </div>
  </section>