<section class="slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-image-wrapper">
            <img src="../../../assets/clinic/clinic-slider.png" class="d-block w-100 carousel-image-controler" alt="...">
          </div>
          <div class="container">
            <div class="carousel-caption custome-carousel-caption text-white text-end pt-2">
              <h1 class="lh-sm">มีศูนย์ปรึกษาคุณหมอจากเกาหลี รองรับลูกค้าเพื่อให้คำปรึกษา</h1>
              <p class="fs-5">จากประสบการณ์การทำศัลยกรรม ที่เกาหลีด้วยตัวเองและด้วยการดูแลเคสลูกค้ามาตลอด มากกว่า 8 ปี </p>
              <a class="bg-second  btn text-white" href="tel:0987849936">สอบถามรายละเอียด</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row my-5 border rounded p-3 py-5">
        <div class="col-lg-12 ">
          <div>
            <h1>โรงพยาบาล ในเครือค่ายเรา</h1>
            <p>สิทธิต่างๆ ทาง GRANDNEWLIFE ให้มากกว่า คนไข้สามารถเทียบราคา เทียบสิทธิต่อรอง ถึงกล้ายืนยันว่า <span class="fw-bold">“ถูกกว่าไปเอง”</span></p>
          </div>
        </div>
        <div class="col-lg-2 my-2">
          <div class="x6-img-container">
            <img class="x6-img-controller" src="../../../assets/clinic/ID.png" alt="">
          </div>
        </div>
        <div class="col-lg-2 my-2">
          <div class="x6-img-container">
            <img class="x6-img-controller" src="../../../assets/clinic/Banobagi.png" alt="">
          </div>
        </div>
        <div class="col-lg-2 my-2">
          <div class="x6-img-container">
            <img class="x6-img-controller" src="../../../assets/clinic/EU.png" alt="">
          </div>
        </div>
        <div class="col-lg-2 my-2">
          <div class="x6-img-container">
            <img class="x6-img-controller" src="../../../assets/clinic/LOUVRE.png" alt="">
          </div>
        </div>
        <div class="col-lg-2 my-2">
          <div class="x6-img-container">
            <img class="x6-img-controller" src="../../../assets/clinic/Nana.png" alt="">
          </div>
        </div>
        <div class="col-lg-2 my-2">
          <div class="x6-img-container">
            <img class="x6-img-controller" src="../../../assets/clinic/View-Plastic.png" alt="">
          </div>
        </div>
      </div>

    
  </section>