  <section>
    <div class="row featurette my-5 m-auto">
        <div class="col-md-12 text-center my-5">
          <h1 class="welcome-title colour-second lh-1">บทความ </h1>
          <p >
            ศูนย์ปรึกษาจัดทำขึ้นเพื่อให้ลูกค้ามั่นใจว่าเรามีตัวตนจริง ลูกค้าจริง และดูแลจริง 
            เปิดเป็นบริษัทที่ถูกต้องตามกฎหมายไทย-เกาหลี ลูกค้าสามารถเข้ามาประเมินและเข้ามาวางมัดจำ ยืนยันว่าเราไว้วางใจได้
          </p>
        </div>
    </div>

    <div class="row">
      <div class="col-lg-4 mb-3">
        <a routerLink="/popnosesurgery2023">
            <div class="mb-2">
                <img src="../../../assets/news/popnosesurgery2023/cover2.jpg" class="w-100 shadow-1-strong rounded my-1"/>
            </div>
            <h3>รวมทรงจมูกยอดนิยมของสาวไทยฉบับปี 2023 ทรงไหนถูกใจเซฟไว้เลย</h3>
        </a>
      </div>
      <div class="col-lg-4 mb-3">
        <a routerLink="/double-eyelids-surgery">
          <div class="mb-2">
              <img src="../../../assets/news/double-eyelids-surgery/cover1.jpg" class="w-100 shadow-1-strong rounded my-1"/>
          </div>
          <h3>ทำตาสองชั้น: ศัลยกรรมที่เสริมสร้างความแตกต่างและความโดดเด่นให้กับใบหน้า</h3>
        </a>
      </div>
      <div class="col-lg-4 mb-3">
        <a routerLink="/koreaselfsergery-vs-agencysergery">
          <div class="mb-2">
              <img src="../../../assets/news/koreaselfsergery-vs-agencysergery/cover3.jpg" class="w-100 shadow-1-strong rounded my-1"/>
          </div>
          <h3>ทำศัลยกรรมกับเอเจนซี่ vs. บินไปศัลยกรรมเองที่เกาหลี แบบไหนที่ใช่คุณที่สุด ?</h3>
        </a>
      </div>
      <div class="col-lg-4 mb-3">
        <a routerLink="/top6hospitalsurgery">
            <div class="mb-2">
                <img src="../../../assets/news/top6hospitalsurgery/cover4.jpg" class="w-100 shadow-1-strong rounded my-1"/>
            </div>
            <h3>รวมมาให้แล้ว! 6 โรงพยาบาลศัลยกรรมชั้นนำในเกาหลีที่น่าจับตามอง</h3>
        </a>
      </div>
      <div class="col-lg-4 mb-3">
        <a routerLink="/safe-breast-surgery">
          <div class="mb-2">
              <img src="../../../assets/news/safe-breast-surgery/cover5.jpg" class="w-100 shadow-1-strong rounded my-1"/>
          </div>
          <h3>สิ่งที่ควรรู้ก่อนทำศัลยกรรมหน้าอก รู้ไว้ปลอดภัยกว่า</h3>
        </a>
      </div>
      <div class="col-lg-4 mb-3">
        <a routerLink="/trend-koreasurgery2023">
          <div class="mb-2">
              <img src="../../../assets/news/trend-koreasurgery2023/cover6.jpg" class="w-100 shadow-1-strong rounded my-1"/>
          </div>
          <h3>เช็คลิสต์เทรนด์ทำศัลยกรรมเกาหลีปี 2023</h3>
        </a>
      </div>
    </div>
  </section>