p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.to_h1{
    font: 700 3rem / 1 'Mitr', sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
}

.to_h2{
    font: 700 2rem / 1 'Mitr', sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
}

.to_h3{
    font: 400 1.5rem / 1 'Mitr', sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
} 