<section class="slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-image-wrapper">
            <img src="../../../assets/hopitals/etonne-hospital/banner_web.png" class="d-block w-100" alt="...">
          </div>
          <div class="container">
            <div class="carousel-caption custome-carousel-caption text-white  pt-2 rounded slider-custom-bg">
                <h2 class="lh-sm to_h1">มีศูนย์ปรึกษาคุณหมอจากเกาหลี รองรับลูกค้าเพื่อให้คำปรึกษา</h2>
                <p class="fs-5">จากประสบการณ์การทำศัลยกรรม ที่เกาหลีด้วยตัวเองและด้วยการดูแลเคสลูกค้ามาตลอด มากกว่า 8 ปี </p>
                <div class="text-end">
                  <a class="bg-second  btn text-white text-end" href="tel:0987849936">สอบถามรายละเอียด</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="to_h1">โรงพยาบาล Etonne มุ่งมั่นเป็นโรงพยาบาลที่ดีที่สุดสำหรับคุณเสมอ</h1>
            <p><span>โรงพยาบาลเอโตน Etonne </span><span>หรือที่รู้จักกันดีในนาม โรงพยาบาล NOTE </span><span>สถานเสริมความงามที่ให้บริการอย่างครบวงจร โดยผู้เชี่ยวชาญที่ซึ่งเป็นสุดยอดฝีมือในแต่ละด้าน ผู้มีประสบการณ์เป็นเลิศ และมีความสร้างสรรค์ในฝีมือการตกแต่งศัลยกรรม คุณจึงสามารถสัมผัสได้ถึงความงามที่เป็นเลิศ และได้รับผลลัพธ์ที่สมบูรณ์แบบ จากแพทย์ที่มากไปด้วยประสบการณ์อย่างน่าอัศจรรย์ เพราะโรงพยาบาล Etonne มุ่งมั่นเพื่อเป็นโรงพยาบาลที่จะอยู่ในใจคุณเสมอ</span></p>
            <h2 class="to_h2">โรงพยาบาล Etonne มุ่งเน้นมอบความงามบนแนวคิด Expertise Excellence Experience</h2>
            <p><span>โรงพยาบาล Etonne เป็นสถานเสริมความงามที่เปิดตัวขึ้นใหม่ โดย Dr. Kim Hakyoung และ Dr. Cho Jeongmok ที่มีชื่อเสียงมายาวนานในด้านการเป็นศัลยแพทย์ผู้เชี่ยวชาญเฉพาะทางที่มากไปด้วยประสบการณ์ ทำให้ทั้งสองเป็นชื่อที่น่าเชื่อถือและมีความนิยมอย่างกว้างขวางในวงการศัลยกรรมความงามของประเทศเกาหลี และมีชื่อเสียงมาถึงหมู่คนไทยเลยด้วย โดยที่คนไทยส่วนใหญ่คุ้นเคยกับ โรงพยาบาล Etonne กันดีในนามเดิมว่า โรงพยาบาล NOTE ที่ Dr. Kim Hakyoung เป็นศัลยแพทย์ผู้นำอวยการที่เชี่ยวชาญด้านศัลยกรรมตา ศัลยกรรมจมูก ศัลยกรรมยกกระชับ และดูดไขมัน ซึ่งเป็นที่รู้จักและได้รับความนับถือในหมู่คนไทยอย่างกว้างขวาง&nbsp;</span></p>
            <p><span>การเปลี่ยนชื่อเป็น Etonne นั้นเป็นการสร้างภาพความจำใหม่และความรู้สึกใหม่ที่ดีกว่าเดิมให้กับโรงพยาบาล โดยชื่อใหม่นี้ยังคงความน่านับถือและความมั่นคงในคุณภาพการให้บริการที่ดีของทีมแพทย์ แต่เปิดตัวใหม่เพื่อชี้แนะให้ผู้คนเห็นถึงจุดมุ่งหมายในการสร้างความสวยที่สมบูรณ์กว่าเดิม บนแนวคิด Expertise (ความเชี่ยวชาญ) Excellence (ความเยี่ยมยอด) และ Experience (ประสบการณ์) โดยแนวคิดนี้หมายความว่า โรงพยาบาลเอโตนจะอำนวยการโดยศัลยแพทย์ผู้เชี่ยวชาญที่ซึ่งมีความสร้างสรรค์ในฝีมือการตกแต่งศัลยกรรม ให้คุณได้สัมผัสกับความงามที่เป็นเลิศและได้รับผลลัพธ์ที่สมบูรณ์แบบจากแพทย์ที่มากไปด้วยประสบการณ์อย่างน่าอัศจรรย์&nbsp;</span></p>
            <p><span>เพราะโรงพยาบาลเอโตนจะยังสืบทอดความตั้งใจของโรงพยาบาล NOTE ต่อไป เพื่อพัฒนาให้เอโตนเป็นโรงพยาบาลศัลยกรรมที่เป็นที่ยอมรับและเชื่อถือได้ในระดับโลก โดยการให้บริการโดยแพทย์ผู้เชี่ยวชาญที่เป็นยอดฝีมือในแต่ละด้าน เพราะโรงพยาบาลในฝันของเราต้องเป็น สถานที่ที่คนไข้สามารถมั่นใจได้ว่าจะได้รับการดูแลและบริการที่มีคุณภาพ และมีความเป็นมืออาชีพเท่านั้น โรงพยาบาล Etonne จะไม่ทำให้คุณผิดหวัง ไม่ว่าเวลาจะผ่านไปกี่ปีเราจะทำให้โรงพยาบาล Etonne และ NOTE ยังคงอยู่ในใจของคนไข้เสมอ&nbsp;</span></p>
            
            <h2 class="to_h2">โรงพยาบาล Etonne ทุ่มเทอย่างที่สุดเพื่อสร้างชีวิตใหม่ให้แก่คุณ</h2>
            <p><span>ความชำนาญและประสบการณ์ที่ยาวนาน</span><span>ภายใต้ชื่อเก่าของโรงพยาบาล NOTE</span><span> ทำให้คนไข้จากทั่วโลกมั่นใจในบริการของ Etonne ให้มอบผลลัพธ์ที่มีคุณภาพแก่คนไข้อย่างล้นหลาม เพราะในทุกขั้นตอนของกระบวนการศัลยกรรม โรงพยาบาล Etonne มีความเต็มที่ที่จะให้บริการอย่างครบวงจร และมีความตั้งใจที่จะพัฒนาอย่างต่อเนื่อง เพื่อสะสมประสบการณ์ในการสร้างความงามให้แก่คนไข้ที่เลือกใช้บริการให้สมบูรณ์แบบและเชี่ยวชาญมากขึ้น เพราะ โรงพยาบาล Etonne ทุ่มเทอย่างที่สุดเพื่อสร้างชีวิตใหม่ให้แก่คุณ ให้คุณมีแต่ความรู้สึกสะดวกสบาย และให้มั่นใจว่า โรงพยาบาลเอโตนจะคงอยู่ภายในใจของคุณเสมอ&nbsp;</span></p>
            <p><span>โรงพยาบาลศัลยกรรมเอโตนเปิดให้บริการศัลยกรรมทางความงามที่ครอบคลุมและหลากหลายตามความต้องการของคนไข้ โดยครอบคลุมตั้งแต่ ศัลยกรรมจมูก ศัลยกรรมตา ศัลยกรรมยกกระชับใบหน้า ศัลยกรรมดูดไขมัน ฉีดไขมันใบหน้า และ เอโดไทน์ ที่จะดูแลโดยสุดยอดฝีมือด้านนี้โดยเฉพาะอย่าง Dr. Kim Hakyoung ส่วนการศัลยกรรมอย่าง การเสริมหน้าอก และยกกระชับหน้าอก จะดูแลโดย Dr. Cho Jeongmok ผู้ซึ่งเป็นผู้เชี่ยวชาญยอดฝีมือในด้านนี้โดยเฉพาะ</span><span> ที่เรารู้จักกันดีจากโรงพยาบาล NOTE</span></p>
            <p><span>ด้วยทีมแพทย์ที่มีความเชี่ยวชาญและประสบการณ์ที่มากมาย คุณจึงจะได้สัมผัสกับความงามที่ยอดเยี่ยมที่สุด ที่สร้างโดยประสบการณ์และความเชี่ยวชาญที่สะสมมาอย่างยาวนานตั้งแต่เป็นโรงพยาบา NOTE ตามแนวคิด Expertise (ความเชี่ยวชาญ) Excellence (ความเยี่ยมยอด) และ Experience (ประสบการณ์) ของโรงพยาบาล Etonne นั่นเอง ทำให้เอโตนเป็นที่น่านับถือและเป็นที่น่าเชื่อถือในวงการศัลยกรรมเสริมความงาม ที่มุ่งเน้นให้ลูกค้าได้สัมผัสความสวยและผลลัพธ์ที่น่าอัศจรรย์ </span><span>เราจะสานต่อความเป็นโรงพยาบาล NOTE ที่ดีกว่าเดิมที่ Etonne ให้ความฝันของคนไข้เกิดขึ้นได้จริง ที่โรงพยาบาลของเรา</span></p>
            
            <h3  class="to_h3">โรงพยาบาล Etonne พร้อมมอบประสบการณ์ทางการแพทย์ที่เป็นเลิศที่สุด</h3>
            <p><span>ด้วยการรวมตัวของแพทย์ยอดฝีมือระดับต้นของเกาหลีที่มีประสบการณ์และความเชี่ยวชาญเฉพาะทางในการดำเนินการศัลยกรรมความงามในแต่ละด้าน </span><span>ที่การันตีโดยชื่อเสียงที่เราคุ้นชินกันดีภายใต้โรงพยาบาล NOTE </span><span>โรงพยาบาลเอโตนจึงให้บริการทางการแพทย์ด้วยมาตรฐานที่สูง บนแนวคิดใหม่ที่ซึ่งแตกต่างจากมาตรฐานเดิม เพราะโรงพยาบาล Etonne พร้อมมอบประสบการณ์ทางการแพทย์ที่เป็นเลิศที่สุดแก่คุณ</span></p>
            <p><span>โรงพยาบาลเอโตนให้ความสำคัญกับความงามของคุณอย่างแท้จริง เราจึงบริการทุกขั้นตอนบนความละเอียดอ่อน เพื่อให้คุณได้รับผลลัพธ์ที่ดูเป็นธรรมชาติและสมบูรณ์มากที่สุด ทีมแพทย์ที่มีความเชี่ยวชาญของเราจะอธิบายและแนะนำขั้นตอน กระบวนการต่าง ๆ อย่างละเอียด เพื่อให้แน่ใจว่าคุณจะได้รับการแก้ไขอย่างตรงจุด และด้วยความเชี่ยวชาญทางการแพทย์ การใช้เทคโนโลยีทันสมัย และความเข้าใจในความต้องการของคนไข้อย่างแท้จริง โรงพยาบาล Etonne จึงได้รับการยอมรับและเป็นที่นับถือในวงการศัลยกรรมความงามทั้งในเกาหลีและในประเทศไทย และสร้างความมั่นใจให้กับคนไข้ที่ต้องการการรักษาและดูแลความงามได้อย่างมืออาชีพและเป็นมิตรเสมอมา </span><span>เพราะโรงพยาบาล NOTE และ Etonne มุ่งมั่นที่จะเป็นสถานที่ที่จะอยู่ในใจคุณเสมอ</span></p>
        </div>
        
    </div>
  </section>