<div>
<nav class="navbar navbar-expand-lg navbar-light nav-custom-bg ">
    <div class="  nav-custom-bg fixed-top">
        <div class="container-fluid navbar-content  ">
            <div>
            </div>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                  <div class="ft-contact-wrapper d-flex justify-content-center">
                    <mat-icon aria-hidden="false" aria-label="Example call icon" fontIcon="call" class="ft-contact-icon-2 text-white"> </mat-icon>
                    <a class="text-decoration-none info-details text-white" href="tel:0987849936" > 098 784 9936</a>
                  </div>
                </li>
                <li class="nav-item">
                  <div class="ft-contact-wrapper d-flex justify-content-center">
                    <mat-icon aria-hidden="false" aria-label="Email icon" fontIcon="mail" class="ft-contact-icon-2 text-white"> </mat-icon>
                    <a class="text-decoration-none info-details text-white" href="mailto:info@grandnewlife.co.th" > info@grandnewlife.co.th</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
    </div>
  </nav>
</div>