<section class="slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-image-wrapper">
            <img src="../../../assets/news/jaw-surgery/cover8.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="to_h1">รู้จักการศัลยกรรมผ่าตัดขากรรไกร: ศัลยกรรมเพื่อใบหน้าที่สมส่วน</h1>
            <p>การผ่าตัดขากรรไกร (Double Jaw Surgery) คือการผ่าตัดขยับปรับตำแหน่งแนวขากรรไกรที่ผิดปกติ ให้อยู่ในตำแหน่งที่เหมาะสมและรับกับใบหน้าอย่างพอดี โดยปกติผู้ที่สามารถรับการศัลยกรรมประเภทนี้ต้องเป็นคนที่ต้องการแก้ไขปัญหาปากยื่นหรือปากอูมจนเกินไป หรือปัญหาปากปิดไม่สนิท หน้ายาวหรือสั้นเกิน โดยมักทำและจัดฟันเพื่อให้ใบหน้าออกมาดูดี สมส่วนมากขึ้น</p>
            <p>การผ่าตัดขากรรไกรที่เกาหลีเป็นการผ่าตัดที่แตกต่างจากการผ่าตัดกรามแบบทั่วไป แน่นอนว่าผลลัพธ์คือการแก้ปัญหาเรื่องโครงหน้า แต่ขากรรไกรมันเกี่ยวข้องกับเรื่องปัญหากระดูก และการทำฟันด้วยเพราะขากรรไกรเป็นส่วนรองของกระดูกฟันนั่นเอง ทั้งนี้หมายความว่าเมื่อมีการผ่าตัดขากรรไกรแล้ว สิ่งที่ต้องทำควบคู่กับคือการจัดฟันเพื่อนทำให้หน้าสมส่วนมากขึ้น</p>
            <img src="../../../assets/news/jaw-surgery/cover8sub1.jpg" class="d-block w-100">
            <h2 class="to_h2">ใครบ้างที่เหมาะสมกับการผ่าตัดขากรรไกร?</h2>
            <p>การผ่าตัดขากรรไกรเป็นศัลยกรรมประเภทที่ไม่ได้เหมาะกับทุกคน เพราะเป็นการศัลยกรรมที่ไม่ใช่เน้นเสริมความงามแต่เป็นการแก้ไขปัญหาเพื่อใช้ชีวิตประจำวัน โดยผู้ที่เหมาะสมสำหรับการศัลยกรรมประเภทนี้มีดังนี้</p>
            <ul>
                <li>
                    <b>ผู้มีปัญหาปากยื่น</b> นั่นคือเมื่อมองด้านข้างปากจะยื่นออกด้านหน้าเกินปลายคางและจมูก ซึ่งเป็นสาเหตุมาจากขากรรไกรด้านบน ฟันบน 
                </li>
                <li>
                    <b>ผู้มีปัญหาใบหน้ายาว</b> ไม่ได้หมายถึงรูปทรงของหน้าทั่วๆไป เพราะโดยปกติคางของเราจะยื่นออกมาจากหน้าประมาณ 1.3 เท่า หมายความว่าหากยาวเกินนี้อาจต้องได้รับการศัลยกรรม เพราะใบหน้ายาวทำให้มีปัญหาปากปิดไม่สนิท ยิ้มเห็นเหงือกเยอะ ฟันไม่สบกัน เป็นต้น
                </li> 
                <li>
                    <b>ผู้ที่มีปัญหาใบหน้าเอียงชัดเจน</b> ใบหน้าไม่เท่ากัน ทำให้ปิดปากได้ลำบากหน้าดูเองไม่สมมาตร
                </li>
                <li>
                    <b>ผู้ที่มีปัญหาคางถอย</b> หน้าสั้น ปากอูม ปิดปากได้ไม่สนิท
                </li>
            </ul>
            <p>ทั้งนี้การผ่าตัดขากรรไกรเป็นการผ่าตัดที่มากกว่าแค่เรื่องของการปรับโครงหน้าต้องใช้ความละเอียดมากกว่า ดังนั้นศัลยแพทย์จะต้องประเมินว่าสามารถแก้ไขแบบใดได้บ้าง โดยบางเคสอาจต้องมีการจัดฟันหลังการผ่าตัดหรืออาจไม่จำเป็น แล้วแต่กรณี</p>
            <img src="../../../assets/news/jaw-surgery/cover8sub2.jpg" class="d-block w-100">
            <h3 class="to_h3">รวม FAQ เกี่ยวกับการผ่าตัดขากรรไกร</h3>
                <p><b>QUESTION :</b> ระยะเวลาพักฟื้นหลังจากผ่าตัดขากรรไกร นานแค่ไหน ?</p>
                <p><b>ANSWER :</b> อย่างที่ได้ทราบกันว่าการผ่าตัดขากรรไกรเป็นการรักษาปัญหาโครงหน้าไม่สมมาตรและแก้ไขปัญหาการใช้ชีวิตลำบาก ต้องมีการคำนึงถึงตำแหน่งของกระดูก การสบฟัน ระยะเวลาจึงนานกว่าศัลยกรรมทั่วไป ปกติทางโรงพยาบาลจะให้เวลาอยู่เกาหลี 3 สัปดาห์ถึง 1 เดือน เพราะยังต้องมีการนัดเช็คอาการบวมช้ำและเลือดคลั่งด้วย</p>
                <hr />
                <p><b>QUESTION :</b> เวเฟอร์ คืออะไร ?</p>
                <p><b>ANSWER :</b>เวเฟอร์ คืออุปกรณ์ที่ใช้หลังการผ่าตัด ใช้สำหรับประคองขากรรไกรให้เข้าที่ โดยอุปกรณ์นี้ต้องมีการนักพิมพ์ฟันไว้ 7 วันก่อนผ่าตัดและต้องทำควบคู่กับทันตแพทย์ โดยมีระยะเวลาที่ต้องใส่อยู่ประมาณ 1-2 เดือน</p>
                <hr />
                <p><b>QUESTION :</b> ผลข้างเคียงการผ่าตัดขากรรไกร มีอะไรบ้าง ?</p>
                <p><b>ANSWER :</b>เนื่องจากการผ่าตัดขากรรไกรเกี่ยวข้องกับการใช้ปาก ดังนั้นผลข้างเคียงที่ตามมาอาจทำให้การใช้ชีวิตลำบาก เช่น  อาการปวดบวมบริเวณใบหน้า อาการชาบริเวณริมฝีปาก คาง หรือลิ้น การติดเชื้อ ปัญหาการสบฟัน ปัญหาการเคี้ยวอาหาร และปัญหาการสื่อสารที่ยากขึ้น (ในขณะพักฟื้น)</p>
                <hr />    
            <p>การผ่าตัดขากรรไกรต้องใช้ความรู้ ประสบการณ์และคำแนะนำจากแพทย์ผู้เชี่ยวชาญผู้เรียนเฉพาะทางด้านนี้มาโดยตรง การเลือกศัลยแพทย์จึงมีความสำคัญอย่างมากและต้องเป็นหมอเฉพาะทางขากรรไกรเท่านั้น รวมไปถึงการเลือกโรงพยาบาลที่ปลอดภัยและเชื่อถือได้เช่นกัน และเราเข้าใจว่ามันไม่ใช่เรื่องง่าย ดังนั้น Grandnewlife ในฐานะเอเจนซี่พาไปศัลยกรรมเกาหลีจึงได้คัดเลือกโรงพยาบาลและแพทย์ที่เชี่ยวชาญที่สุด ประสบการณ์แน่นที่สุด เพื่อแก้ไขปัญหาเกี่ยวกับขากรรไกรได้อย่างเต็มประสิทธิภาพ</p>
            <img src="../../../assets/news/jaw-surgery/S__8511520.jpg" class="d-block w-100">
            <img src="../../../assets/news/jaw-surgery/S__8511521.jpg" class="d-block w-100">
            <img src="../../../assets/news/jaw-surgery/S__8511522.jpg" class="d-block w-100">
            <img src="../../../assets/news/jaw-surgery/S__8511523.jpg" class="d-block w-100">
            <img src="../../../assets/news/jaw-surgery/S__8511524.jpg" class="d-block w-100">
            <p>Reference : <a href="https://th.idhospital.com/facial-contouring/square-jaw-surgery/">https://th.idhospital.com/facial-contouring/square-jaw-surgery/</a></p>
        </div>
    </div>
  </section>