p{
    margin-top: 20px;
    margin-bottom: 20px;
}

ul>li{
    line-height: 2rem;
    span{
        font-weight: bold;
    }
} 
ol>li{
    line-height: 2rem;
    span{
        font-weight: bold;
    }
} 

.to_h1{
    font: 700 3rem / 1 'Mitr', sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
}

.to_h2{
    font: 700 2rem / 1 'Mitr', sans-serif;
    letter-spacing: normal;
    margin: 50px 0 16px;
}

.to_h3{
    font: 700 2rem / 1 'Mitr', sans-serif;
    letter-spacing: normal;
    margin: 50px 0 16px;
}
