<section class="slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-image-wrapper">
            <img src="../../../assets/clinic/clinic-slider.png" class="d-block w-100 carousel-image-controler" alt="...">
          </div>
          <div class="container">
            <div class="carousel-caption custome-carousel-caption text-white text-end pt-2">
              <h2 class="lh-sm to_h1">มีศูนย์ปรึกษาคุณหมอจากเกาหลี รองรับลูกค้าเพื่อให้คำปรึกษา</h2>
              <p class="fs-5">จากประสบการณ์การทำศัลยกรรม ที่เกาหลีด้วยตัวเองและด้วยการดูแลเคสลูกค้ามาตลอด มากกว่า 8 ปี </p>
              <a class="bg-second  btn text-white" href="tel:0987849936">สอบถามรายละเอียด</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row featurette my-5 m-auto">
        <div class="col-md-12 text-center my-5">
          <h1 class="welcome-title colour-second lh-1">GRAND  NEW LIFE BEAUTY CENTER </h1>
          <p >
            ศูนย์ปรึกษาจัดทำขึ้นเพื่อให้ลูกค้ามั่นใจว่าเรามีตัวตนจริง ลูกค้าจริง และดูแลจริง 
            เปิดเป็นบริษัทที่ถูกต้องตามกฎหมายไทย-เกาหลี ลูกค้าสามารถเข้ามาประเมินและเข้ามาวางมัดจำ ยืนยันว่าเราไว้วางใจได้
          </p>
        </div>
        <div class="col-md-7 d-flex flex-column align-middle justify-content-center text-center">
          <span class="title-divider"></span>
          <p>
            แกรนด์ นิว ไลฟ์ ได้รับโล่รางวัล “ For your outstanding  performance  and invaluable  contributions “
            ซึ่งเป็นเจ้าแรกในไทยและเอเชีย จากโรงพยาบาลศัลยกรรมความงามไอดี และโรงพยาบาลนานะ ซึ่งเป็น รพ ขนาดใหญ่ ชื่อดังชั้นนำ ของเกาหลีใต้ เป็นรางวัลการันตีผลงานการปฎิบัติหน้าที่เป็นเอเจนซี่ศัลยกรรมเกาหลีที่มีคุณค่า ทุ่มเทดูแลเอาใจใส่คุณลูกค้า 
          </p>
        </div>
        <div class="col-md-5 m-auto">
          <div class="x1-img-container m-auto">
            <img class="img-fluid rounded x1-img-controller" src="../../../assets/clinic/clinic-3.jpeg" alt="">
          </div>
        </div>
        <div class="col-md-12 my-5">
          <div class="info-container rounded p-5 ">
            <span class="mat-display-3 ">รับปรึกษาเรื่องความสวยความงาม ทุกชนิด</span>
            <p class="pt-3">
              ศูนย์ปรึกษาที่ อ่อนนุช46 <span class="text-danger">หมายเหตุ : นัดหมายก่อนเข้าพบ</span> 
            </p>
          </div>
        </div>
        <div class="col-mid-12">
          <p> <span class="mat-display-1 colour-second">Grand new life</span> ยังได้รับความไว้วางใจ เชื่อมั่นจากคุณหมอปาร์ค ซัง ฮุน เจ้าของโรงพยาบาลไอดี และคุณหมอฮวัง ดงยอน เจ้าของโรงพยาบาลนานะ ศัลยแพทย์โครงหน้าชื่อดัง Let Me in  ให้ความสนับสนุนจัดงานปรึกษาศัลยกรรมเกาหลีในประเทศไทยเป็นของตนเอง โดยส่งคุณหมอผู้เชี่ยวชาญของ รพ มาให้คำปรึกษากับคุณลูกค้าที่ศูนย์ปรึกษา</p>
          <p>ที่สำคัญคุณหมอปาร์ค ซังฮุน ศัลยแพทย์ชื่อดัง เจ้าของ รพ ไอดี พร้อม คุณหมอบังจียอน คุณหมอมือ 1 ด้านจมูก และคณะผู้บริหารระดับสูง ยังได้เดินทางมาจากประเทศเกาหลีใต้ มามอบกระเช้าแสดงความยินดีถึงประเทศไทย</p>
          <p>ศูนย์ปรึกษาศัลยกรรมเกาหลี ชื่อ Grand New Life Beauty Center  เป็นของตนเองและมาตราฐานเป็นที่ยอมรับจากโรงพยาบาลไอดี และ รพ อื่น ๆ ในเกาหลีใต้</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-3">
          <div class="mb-2">
            <span class="mat-display-3 ">ศูนย์ปรึกษาศัลยกรรม แกรนด์ นิว ไลฟ์</span>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
          <img src="../../../assets/clinic/clinic-1.jpeg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
          <img src="../../../assets/clinic/clinic-6.jpeg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="../../../assets/landing-page/clinic-award.jpeg"
            class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
          <img src="../../../assets/clinic/clinic-4.jpeg" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />
          <img src="../../../assets/clinic/clinic-5.jpeg" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />
        </div>
      </div>
  </section>