<section class="slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-image-wrapper">
            <img src="../../../assets/hopitals/id-hospital/image0.jpeg" class="d-block w-100" alt="...">
          </div>
          <div class="container">
            <div class="carousel-caption custome-carousel-caption text-white  pt-2 rounded slider-custom-bg">
                <h2 class="lh-sm to_h1">มีศูนย์ปรึกษาคุณหมอจากเกาหลี รองรับลูกค้าเพื่อให้คำปรึกษา</h2>
                <p class="fs-5">จากประสบการณ์การทำศัลยกรรม ที่เกาหลีด้วยตัวเองและด้วยการดูแลเคสลูกค้ามาตลอด มากกว่า 8 ปี </p>
                <div class="text-end">
                  <a class="bg-second  btn text-white text-end" href="tel:0987849936">สอบถามรายละเอียด</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="to_h1">โรงพยาบาลศัลยกรรมเกาหลี id สถานเสริมความงามแบบครบวงจรที่พร้อมมอบความงามให้คุณในทุกช่วงเวลา</h1>
            <p>	โรงพยาบาลไอดี สถานเสริมความงามแบบครบวงจรที่พร้อมมอบความงามให้คุณในทุกช่วงเวลา โดยคุณหมอผู้เชี่ยวชาญเฉพาะด้าน ประสบการณ์ 10 ปีขึ้นไป และเครื่องมือแพทย์ที่ทันสมัยที่สุด ด้วยตึกสูงถึง 16 ชั้น โรงพยาบาลไอดีจึงเป็นโรงพยาบาลใหญ่ที่สุดในประเทศเกาหลี พร้อมรองรับคนไข้จากทั่วโลกและพร้อมที่จะเติมเต็มความต้องการให้คุณอย่างไม่มีที่สิ้นสุด เลือกศัลยกรรมที่โรงพยาบาลไอดีแล้ว “ดินแดนมหัศจรรย์แห่งความงามจะอยู่เคียงข้างคุณตลอดไป”</p>
            <h2 class="to_h2">โรงพยาบาล id เกาหลี เนรมิตรผลลัพธ์ที่สมบูรณ์แบบเท่านั้น โดยแพทย์ผู้เชี่ยวชาญเฉพาะด้าน ประสบการณ์ 10 ปีขึ้นไป</h2>
            <p>โรงพยาบาล id เกาหลี เป็นสถานเสริมความงามชั้นนำที่ได้การรับรองจากกรมอนามัยเกาหลี นำโดย ดร.ปาร์ค ซังฮุน ผู้บุกเบิกศาสตร์การเปลี่ยนรูปหน้าแห่งแรกในเอเชียและเป็นผู้นำวิจัยและศึกษาด้านนี้มาแล้วกว่าเกือบ 10 ปี ดังนั้น โรงพยาบาลศัลยกรรมเกาหลี id จึงมีจุดเด่นอย่างมากในด้านการทำศัลยกรรมปรับโครงหน้า การเหลากราม ลดโหนก การทำวีไลน์ (V-Line) และโดยเฉพาะอย่างยิ่ง การจัดแต่งรูปทรงของขากรรไกร ด้วยการนำเทคโนโลยีและวิธีการที่ทันสมัยมาใช้ โรงพยาบาลไอดีจึงได้รับการยอมรับอย่างกว้างขวางในการทำศัลยกรรมตกแต่งรูปหน้า ด้วยผลลัพธ์ที่น่าประทับใจและมีคุณภาพสูงที่ดำเนินการโดยแพทย์ผู้เชี่ยวชาญและมากประสบการณ์ ทำให้ ID Hospital เป็นแนวหน้าในด้านการทำศัลยกรรมตกแต่งรูปหน้าในทวีปเอเชียในปัจจุบันและเป็นโรงพยาบาลที่มีจำนวนเคสผ่าตัดมากที่สุด
            </p>
            <p>โรงพยาบาลศัลยกรรมเกาหลี id มีทีมแพทย์ที่ประกอบด้วยศาสตราจารย์ จึงเป็นทีมที่มีความเชี่ยวชาญและมีประสบการณ์ที่สูงในการผ่าตัดศัลยกรรม ดังนั้น โรงพยาบาลไอดีจึงรับประกันถึงความปลอดภัยในการศัลยกรรม คำยึดมั่นของทีมแพทย์จาก ID Plastic Surgery Hospital Korea คือการมอบแต่ผลลัพท์ที่สมบูรณ์แบบที่สุดแก่ทุกคนโดยคำนึงถึงความปลอดภัยของคนไข้เสมอ ทีมแพทย์จะให้การดูแลคนไข้โดยตรงอย่างมืออาชีพและอบอุ่น เพื่อให้คุณได้รับการดูแลที่มีคุณภาพและมีประสิทธิภาพสูงที่สุด เพราะโรงพยาบาลไอดีเข้าใจว่านี้คือ การลงทุนเพื่อชีวิตของคุณ ทั้งนี้ ถึงแม้ทางโรงพยาบาลจะมีประสบการณ์และความเชี่ยวชาญอย่างมากแล้ว แต่ทีมแพทย์และโรงพยาบาลศัลยกรรมเกาหลีไอดียังคงมุ่งมั่นที่จะพัฒนาและปรับปรุงเทคนิคการรักษาให้มีความทันสมัยมากขึ้นเพื่อให้คุณได้รับแต่ผลลัพท์ที่สมบูรณ์แบบที่สุดเท่านั้น
            </p>
            <h2 class="to_h2">โรงพยาบาลไอดี ยึดมั่นในภารกิจ Beauty Wonderland ที่จะทำให้คุณมีคุณค่ามากกว่าความงาม ด้วยเครื่องมือแพทย์ที่ล้ำสมัยและครบวงจรกว่าใคร</h2>
            <p>ทีมแพทย์และโรงพยาบาลศัลยกรรมเกาหลีไอดียังคงมุ่งมั่นที่จะพัฒนาและปรับปรุงเทคนิคการแพทย์และเครื่องมือแพทย์ให้ทันสมัยขึ้นตลอดเวลา เพื่อเป็นแนวหน้าต่อไปในการเนรมิตรผลลัพธ์ที่สมบูรณ์แบบให้แก่คุณ เพราะสำหรับโรงพยาบาลไอดี “คนไข้คือความหวัง” และเข้าใจว่านี่คือ การลงทุนเพื่อชีวิตของคุณ โรงพยาบาลไอดีจึงทุ่มเทและมุ่งมั่นเพื่อดำเนินภารกิจ ‘Beauty Wonderland’ ที่ใคร ๆ ก็สามารถแก้ไขความกังวลเกี่ยวกับความงามได้รวมถึงแก้ไขความเจ็บปวดจากรูปร่างหน้าตาตั้งแต่บ่อเกิดต่อไป เพื่อให้คุณมีคุณค่ามากกว่าแค่ความงาม
            </p>
            <p>ด้วยนวัตกรรมที่ทันสมัยและครบวงจรของโรงพยาบาลศัลยกรรมเกาหลีไอดีควบคู่ไปกับการพัฒนาที่ไม่หยุดยั้ง ประกอบกับความพร้อมทางด้านทีมแพทย์ที่เชี่ยวชาญและมากประสบการณ์ ID Hospital จึงเป็นหนึ่งในโรงพยาบาลศัลยกรรมชั้นนำของเกาหลีใต้ที่ได้รับความไว้วางใจมากมายจากคนไข้ทั่วโลก ทางโรงพยาบาลมีการดำเนินระบบตรวจวินิจฉัยอย่างครอบคลุมในทุกขั้นตอนของการรักษา ด้วยการใช้ระบบปฏิบัติการที่เชี่ยวชาญและมีประสิทธิภาพ 8 แขนงในแต่ละสาขาทางการแพทย์ มากไปกว่านั้น อาคารโรงพยาบาลไอดีที่มีความสูงถึง 16 ชั้น เป็นอาคารระบบทันสมัย สะท้อนเงาของปรัชญาเกี่ยวกับความปลอดภัยของคนไข้ตั้งแต่แผนการของโรงพยาบาล เพราะโรงพยาบาลไอดีใส่ใจในความปลอดภัยของคนไข้เป็นอันดับแรก จึงมีทีมวิสัญญีแพทย์ของโรงบาลคอยช่วยเหลือผู้เข้ารับบริการ โดยจะมีการใช้ระบบ CT Scan แบบครบวงจร ซึ่งเป็นนวัตกรรมที่มีความแม่นยำ มีความระเอียด และความปลอดภัยอย่างมาก เพื่อให้ผู้เข้ารับบริการผ่านการเช็คความพร้อมของร่างกายก่อนรับการผ่าตัด คุณจึงสามารถไว้วางใจโรงพยาบาลไอดีได้เลย
            </p>
            <h3  class="to_h3">เพราะโรงพยาบาลไอดี เชื่อว่า “ดินแดนมหัศจรรย์แห่งความงามจะอยู่เคียงข้างคุณตลอดไป”</h3>
            <p>ประเทศเกาหลีถือเป็นประเทศที่มีอุตสาหกรรมความงามที่โดดเด่นและโด่งดังเป็นอันดับต้น ๆ และมีสถานเสริมความงามเกิดขึ้นมากมาย การเลือกศัลยกรรมที่ตรงกับความต้องการของคุณเป็นสิ่งสำคัญที่สุดเมื่อตัดสินใจทำศัลยกรรมที่เกาหลีหรือที่ใดก็ตาม การค้นคว้าและศึกษาข้อมูลเกี่ยวกับโรงพยาบาลและแพทย์ที่ให้บริการศัลยกรรมเป็นสิ่งที่คุณควรทำในการเตรียมตัวก่อนที่จะตัดสินใจ นอกจากนี้ คุณควรพิจารณาคำแนะนำและความคิดเห็นจากผู้ที่ได้รับการรักษามาก่อนหน้านี้ เพื่อให้คุณมั่นใจว่าโรงพยาบาลและแพทย์ที่คุณเลือกมีคุณภาพและประสบการณ์ที่เหมาะสมกับความต้องการของคุณ 
            </p>
            <p>D Hospital เป็นหนึ่งในโรงพยาบาลศัลยกรรมชั้นนำของเกาหลีใต้ ที่มุ่งมั่นพัฒนาอย่างไม่หยุดยั้ง ซึ่งการันตีด้วยผลงานวิจัยมากมายที่นำเสนอออกมาอย่างต่อเนื่อง เพราะ โรงพยาบาลศัลยกรรมเกาหลีไอดี เข้าใจว่า “นี้คือการลงทุนเพื่อชีวิตของคุณ” มากไปกว่านั้น โรงพยาบาลไอดียังได้มีการก่อตั้งศูนย์วิจัยและศึกษารูปทรงของกระดูกบนใบหน้า เพื่อเผยแพร่ความรู้และมุ่งหวังพัฒนาอุตสาหกรรมศัลยกรรมนี้ให้ก้าวหน้ามากยิ่งขึ้น จนได้รับรางวัลจากหนังสือพิมพ์ Hankyuang สาขาศัลยกรรมพลาสติก และได้รับการเลือกให้เป็นองค์กรทางการรักษาผู้ป่วยจากนอกประเทศในปี 2009 - 2010 เป็นการยืนยันถึงความสำเร็จและคุณภาพของโรงพยาบาลไอดี อีกทั้งยังได้จดสิทธิบัตรวิธีการผ่าศัลยกรรมตกแต่งรูปทรงขากรรไกรในเกาหลี ID Plastic Surgery Hospital Korea จะพยามอย่างสุดความสามารถ เพื่อให้ความงามได้แผ่ขยายไปทั่วโลกกับภารกิจ Beauty Wonderland 
            </p>
            <p>เพราะโรงพยาบาลไอดี เชื่อว่า “ดินแดนมหัศจรรย์แห่งความงามจะอยู่เคียงข้างคุณตลอดไป” จึงมุ่งมั่นดำเนินภารกิจที่ช่วยพลิกชีวิตและแก้ไขความเจ็บปวดจากรูปร่างหน้าตา ID Hospital จึงเป็นโรงพยาบาลศัลยกรรมชั้นนำที่เข้าร่วมรายการ Let Me In ทั้งของประเทศไทยและประเทศเกาหลี ซึ่งเป็นรายการศัลยกรรมที่โด่งดัง ที่ไม่ได้ส่งเสริมให้คนทำศัลยกรรมเพื่อแค่ให้ดูดีเพียงรูปลักษณ์ภายนอกเท่านั้น แต่ยังเป็นการช่วยเหลือให้คนที่มีความผิดปกติทางด้านบุคคลิกภาพและหน้าตา ที่เป็นปัญหาในการดำรงชีวิต สามารถใช้ชีวิตอยู่ได้ในสังคมอย่างปกติได้และมีชีวิตใหม่ที่ดียิ่งขึ้น ซึ่งตรงกับความตั้งใจและวิศัยทัศน์ของโรงพยาบาลไอดี ที่มุ่งมั่นในภารกิจ Beauty Wonderland ที่จะทำให้คุณมีคุณค่ามากกว่าความงาม
            </p>
        </div>
        <div class="col-lg-12">
            <h2 class="mat-display-3 mb-3">รายการศัลยกรรม</h2>
            <p>(ขากรรไกร,โครงหน้า3จุด,จมูก)</p>

            <p class="fw-bold">ศัลยกรรมขากรรไกร</p>
            <p>มีตำแหน่งหรือรูปลักษณ์ของขากรรไกร หรือด้านสมรรถภาพที่ไม่ปกติของกระดูกขากรรไกร เป็นการทำการเคลื่อนย้ายขากรรไกรบน,ขากรรไกรล่างให้อยู่ตำแหน่งที่ถูกต้อง ซึ่งเป็นการผ่าตัดขากรรไกรที่อิสระและปลอดภัย</p>

            <p class="fw-bold mt-5">ศัลยกรรมโหนกแก้ม</p>
            <p>เปลี่ยนตำแหน่งของโหนกแก้มให้สมส่วนโดยไร้ปัญหาการหย่อนคล้อยของแก้ม ตำแหน่งของจุดที่สูงที่สุดของโหนกแก้มที่ทำให้ใบหน้าดูกว้างจะถูกปรับให้มาอยู่ด้านหน้าเพื่อให้ใบหน้ามีมิติมากกว่าเดิมโดยไม่ต้องกังวลกับปัญหาความหย่อนคล้อยของแก้ม</p>
            <p>ใบหน้าที่เล็กลงจากการลดโหนกแก้ม การตัดกระดูกโหนกแก้มในแบบ High -L จะลดความกว้างของโหนกแก้ม ซึ่งผลที่ได้คือใบหน้าที่เล็กลงและมีมิติของหน้ามากขึ้น ผลลัพธ์ของขนาดโหนกแก้มที่ลดลงอย่างเป็นธรรมชาติ</p>

        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image1.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image2.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image3.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image4.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image5.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image6.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image7.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image8.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image9.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image10.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image11.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image25.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image26.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image28.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-lg-12 mb-3">
            <span class="mat-display-3 ">รายการศัลยกรรม </span>
            <p>ตา</p>
        </div>

        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image13.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image14.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image15.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image16.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image17.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-3">
            <h2 class="mat-display-3 mb-3">รายการศัลยกรรม </h2>
            <p>ศัลยกรรมตัดหนังหน้าท้อง</p>
        </div>

        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image19.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-3">
            <h2 class="mat-display-3 ">รายการศัลยกรรม</h2>
            <p>ยกกระชับชะลอวัย</p>
        </div>

        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image20.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image21.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image22.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/id-hospital/image24.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
    </div>
  </section>