<section class="slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-image-wrapper">
                    <img src="../../../assets/clinic/clinic-slider.png" class="d-block w-100 carousel-image-controler"
                        alt="...">
                </div>
                <div class="container">
                    <div class="carousel-caption custome-carousel-caption text-white text-end pt-2">
                        <h3 class="lh-sm to_h1">แกรนด์ นิว ไลฟ์ ศูนย์ปรึกษาศัลยกรรมเกาหลี และบริการ พาไปศัลยกรรมเกาหลี
                            โรงพยาบาลชั้นนำ ถูกกฎหมาย  ไทย - เกาหลี</h3>
                        <p class="fs-5">จากประสบการณ์การทำศัลยกรรม ที่เกาหลีด้วยตัวเองและด้วยการดูแลเคสลูกค้ามาตลอด
                            มากกว่า 8 ปี </p>
                        <a class="bg-second  btn text-white" href="tel:0987849936">สอบถามรายละเอียด</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row">
      <div class="col-lg-12">
        <h1><strong>แกรนด์ นิว ไลฟ์ ศูนย์ปรึกษาศัลยกรรมเกาหลี ที่ได้รับความไว้วางใจจากโรงพยาบาลชั้นนำของเกาหลี</strong></h1>
        <p><span style="font-weight: 400;">เราคือ เอเจนซี่พาไปศัลยกรรมเกาหลี ที่มี Grand New Life Beauty Center หรือศูนย์ปรึกษาศัลยกรรมเกาหลีของตนเองในไทย ที่ได้มาตราฐานและเป็นที่ยอมรับ จากโรงพยาบาลชั้นนำของเกาหลีใต้&nbsp; เลือกบิน</span><span style="font-weight: 400;">ไปศัลยกรรมที่เกาหลี</span><span style="font-weight: 400;">ไปกับเราการันตีเรื่องบริการ ยืนยันด้วยโล่รางวัลจากสถานความงามชั้นนำของเกาหลีใต้ และความไว้วางใจจากศัลยแพทย์ Let Me In และหมอมือหนึ่งชื่อดังมากมาย</span></p>
      </div>
    </div>
    <!-- Hospital -->
    <div class="row my-5 border rounded p-3 py-5">
        <div class="col-lg-12 ">
            <div>
                <p class="to_h1">โรงพยาบาล ในเครือค่ายเรา</p>
                <p>สิทธิต่างๆ ทาง GRANDNEWLIFE ให้มากกว่า คนไข้สามารถเทียบราคา เทียบสิทธิต่อรอง ถึงกล้ายืนยันว่า <span
                        class="fw-bold">“ถูกกว่าไปเอง”</span></p>
            </div>
        </div>
        <div class="col-lg-2 my-2">
            <div class="x6-img-container">
                <img class="x6-img-controller" src="../../../assets/clinic/ID.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 my-2">
            <div class="x6-img-container">
                <img class="x6-img-controller" src="../../../assets/clinic/Banobagi.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 my-2">
            <div class="x6-img-container">
                <img class="x6-img-controller" src="../../../assets/clinic/EU.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 my-2">
            <div class="x6-img-container">
                <img class="x6-img-controller" src="../../../assets/clinic/LOUVRE.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 my-2">
            <div class="x6-img-container">
                <img class="x6-img-controller" src="../../../assets/clinic/Nana.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 my-2">
            <div class="x6-img-container">
                <img class="x6-img-controller" src="../../../assets/clinic/View-Plastic.png" alt="">
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2><strong>แกรนด์ นิว ไลฟ์ เอเจนซี่</strong><strong>พาไป</strong><strong>ศัลยกรรมเกาหลีที่มีประสบการณ์มายาวนาน 8 ปี</strong></h2>
        <p><span style="font-weight: 400;"> Grand New Life เราพัฒนาจากประสบการณ์ตรง จึงเข้าใจถึงความกังวลและช่วงเวลาที่ยากลำบากที่สุดของการบินไปศัลยกรรมที่เกาหลีของคุณ เราบริการอย่างจริงใจเพื่อสร้างความพึงพอใจและความประทับใจที่สุดแก่คนไข้&nbsp;</span></p>
        <p><span style="font-weight: 400;">การันตีด้วยความไว้วางใจของลูกค้าและบอกต่อกันมานาน 8 ปี</span></p>
        <p><span style="font-weight: 400;">นอกเหนือจากเรื่องบริการ เราเชี่ยวชาญด้านการแนะนำศัลยแพทย์เฉพาะทางชื่อดังที่สามารถตอบโจทย์เป็นรายบุคคลอย่างจริงใจ ไม่ว่าจะเป็น ด้านแผนกผิว การผ่าตัดศัลยกรรมหน้า ดูดไขมัน หรือการปลูกผม คุณจึงมั่นใจได้ว่าบินไปศัลยกรรมที่เกาหลีกับเราได้รับผลลัพธ์ที่ดีที่สุด ภายใต้ความเขตความต้องการของคุณเท่านั้น ไม่มีการเสนอขายเพิ่มเกินความเป็นจริง</span></p>
      </div>
    </div>

    <div class="row featurette my-t m-auto">
        <div class="col-md-12 text-center mt-5">
            <p>
                บริษัท แกรนด์ นิว ไลฟ์ ดูแลศัลยกรรมที่ประเทศเกาหลี บริการยาวนาน 8 ปี เพื่อดูแลลูกค้าทำศัลยกรรมให้ความสะดวกครบวงจร แนะนำลูกค้าจากประสบการณ์ตรงและผลลัพธ์ความพึงพอใจจากคนไข้ เพียงแค่ลูกค้าเตรียมพาสปอตและจัดกระเป๋าพร้อมบินเท่านั้น เอกสารทุกขั้นตอนเป็นหน้าที่เราดูแล
            </p>
        </div>
        <div class="col-md-12">
            <div class="info-container rounded p-4 ">
                <div class="d-flex">
                    <i class="fa-solid fa-circle-info info-icon-controller "></i>
                    <span class="mat-title">เอเจนซี่ <span class="colour-secon">ไม่บวกเพิ่ม</span> แล้วนะรู้ยัง… เพราะ แกรนด์ นิว ไลฟ์ สามารถตรวจสอบได้เทียบราคากับโรงพยาบาลได้ อีกทั้งสิทธิที่มากกว่า
                    </span>
                </div>
            </div>
        </div>
        <div class="col-mid-12 text-center mt-4">
            <p> นอกเหนือสิทธิที่มากกว่า ทางเรามีพนักงานประจำคอยดูแลลูกค้าตั้งแต่ต้นจนจบทริป เป็นบริการที่ไม่ต้องจ่ายค่าบริการใดๆ</p>
            <button mat-raised-button  routerLink="/clinic" color="accent" class="my-4 text-white">ดูรายละเอียด แกรนด์ นิว ไลฟ์ คลินิก</button>
            <div>
                <p>อยากบินไปทำสวยที่ ร.พ.ไอดีเกาหลี วางใจให้พี่มนดูแล “ถูกกว่าไปเอง” พี่มนช่วยประสานงานขอราคาพิเศษ และส่วนลดเพิ่มเติมได้ค่ะ</p>
                <p>สนใจทำศัลยกรรมโรงพยาบาลไหนเป็นพิเศษ ทางเรายินดีดูแล เน้นบริการ ไม่เน้นยอดการผ่าตัด ยืนยันว่าบริการจากใจจริง</p>
            </div>
            <p></p>
        </div>

        
    </div>

  <br/>
  <div class="col-lg-12 text-center">
    <h2><span style="font-weight: 400;">บินไปศัลยกรรมที่เกาหลี</span> <strong>แกรนด์ นิว ไลฟ์ กล้าให้สิทธิที่มากกว่า<br /></strong></h2>
    <p><span style="font-weight: 400;">เรากล้ายืนยันว่าเลือก Grand New Life พาไปศัลยกรรมเกาหลี &ldquo;ถูกกว่าไปเอง&rdquo; เราเข้าใจและให้ความสำคัญกับประโยชน์ของคนไข้ เราจึงทำเต็มที่ในการช่วยประสานงานขอศัลยกรรมเกาหลีราคาพิเศษและส่วนลดเพิ่มเติม เพื่อให้คุณได้โปรศัลยกรรมเกาหลีในราคาที่ดีที่สุด อีกทั้งเรายังให้สิทธิพิเศษมากมายและราคาที่เทียบเท่าซื้อตรงจากโรงพยาบาล คุณจึงสามารถเทียบราคาและเทียบสิทธิของเรากับโรงพยาบาลได้เลย เรื่องสิทธิพิเศษ เรากล้าให้มากกว่า และทุกการชำระเงินจะทำรายการผ่านโรงพยาบาลโดยตรง คุณจึงสามารถมั่นใจและตรวจสอบได้เลยเราว่าไม่มีการบวกเพิ่มอย่างแน่นอน เพราะ Grand New Life เราใส่ใจและเข้าใจลูกค้า</span></p>
  </div>

  <!-- Feed back-->
  <div class="col-lg-12 mt-5">
    <div>
      <p class="to_h1">ฟีดแบค จากลูกค้าเรา</p>
      <p>สิทธิต่างๆ ทาง GRANDNEWLIFE ให้มากกว่า คนไข้สามารถเทียบราคา เทียบสิทธิต่อรอง ถึงกล้ายืนยันว่า <span class="fw-bold">“ถูกกว่าไปเอง”</span></p>
    </div>
  </div>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-1.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-2.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-3.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-4.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-5.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-6.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-7.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-8.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <br/>
      <h3 class="to_h3"><strong>แกรนด์ นิว ไลฟ์ ยืนยันบริการจากใจจริง พร้อม</strong><span style="font-weight: 400;">โปรศัลยกรรมเกาหลีมากมาย</span><strong><br /></strong></h3>
      <p><span style="font-weight: 400;">ถึงแม้ว่าเอเจนซี่พาไปศัลยกรรมเกาหลีจะได้รับความแพร่หลายและมีข้อมูลให้ศึกษาเยอะมากขึ้นแล้วในปัจจุบัน แต่เราเชื่อว่า หลาย ๆ คนก็ยังคงมีความกังวล ความกลัว และความไม่แน่ใจกันอยู่ Grand New Life จึงขอมาแนะนำขั้นตอนการบินไปศัลยกรรมที่เกาหลีกับเรา เพื่อประกอบการตัดสินใจของคุณและให้คุณรู้ชัดว่า แกรนด์ นิว ไลฟ์ ยืนยันบริการจากใจจริง&nbsp;</span></p>
      <p><span style="font-weight: 400;">ไปกับ Grand New Life ครบจบทุกขั้นตอน หมดห่วงเรื่องเอกสาร เพียงคุณเก็บกระเป๋าพร้อมมีพาสปอต แล้วปล่อยให้เราจัดการต่อ เพียงเท่านี้ การบินไปศัลยกรรมที่เกาหลีของคุณก็จะเป็นเรื่องง่าย ๆ และสะดวกสบาย&nbsp;</span></p>
      <ol type="1">
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">ทีมงานให้คำปรึกษาและแนะนำ</span></li>
      <p><span style="font-weight: 400;">เมื่อลูกค้าต้องการศัลยกรรม เราจะส่งข้อมูลลูกค้าให้ทาง รพ ประเมินโดยตรง เพื่อให้ได้คำตอบโดยสมเหตุสมผลจากพื้นฐานคนไข้&nbsp;&nbsp;</span></p>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">เรื่องเอกสารเข้าประเทศ</span></li>
      <p><span style="font-weight: 400;">จะบินไปศัลยกรรมที่เกาหลี ไม่ต้องวุ่นวายทำเรื่องเอกสารเองอีกต่อไป</span><span style="font-weight: 400;"> ในทุกขั้นตอนและเอกสารสำหรับการศัลยกรรม รวมถึงการลงทะเบียน K-ETA สบายใจได้เพราะเราดูแลเอกสารให้ลูกค้าทุกเคสรวมถึงผู้ติดตาม&nbsp;&nbsp;</span></p>
      <p><span style="font-weight: 400;">อีกทั้งเรายังมีงบตั๋วเครื่องบินไปกลับให้สูงสุด 20,000 บาท พร้อมพนักงานรอรับที่สนามบินและรถรับส่ง หมดห่วงเรื่องการต้องเดินทางคนเดียวหรือเดินทางครั้งแรก นอกจากนี้ เรายังมีการเตรียมความพร้อมในทุกกรณีฉุกเฉินที่อาจเกิดขึ้น ทีมงานของเราจะให้ความช่วยเหลือและแก้ไขปัญหาให้คุณในทันที คุณสามารถมั่นใจได้ว่าเราจะดูแลคุณในทุกสถานการณ์</span></p>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">มีล่ามคอยให้ความสะดวก</span></li>
      <p><span style="font-weight: 400;">เราเข้าใจความกังวลเรื่องการสื่อสาร ไม่ว่าจะเรื่องพูดคุยกับหมอ ใช้ยา ผ่าตัด จะมีล่ามที่เชี่ยวชาญศัพท์ทางการแพทย์ให้คำแนะนำ ดังนั้น ทุกปัญหาแก้ไขได้อย่างราบรื่น สะดวกสบายตลอดการรับการบริการของเราแน่นอน</span></p>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">บริการจองที่พักโรงแรม</span></li>
      <p><span style="font-weight: 400;">ทีมงานของเราจัดการเรื่องเอกสารต่าง ๆ&nbsp; รวมถึงบริการจองที่พักที่ให้สูงสุดถึง 15 คืน ตามยอดการผ่าตัด ในราคาเหมาะสม คุณภาพดี ใกล้โรงพยาบาล เพื่อให้คุณเดินทางได้อย่างสะดวกและเข้าถึงบริการทางแพทย์ได้อย่างรวดเร็ว โดยให้ความสำคัญกับสิ่งอำนวยความสะดวกและความสะอาดเป็นหลัก&nbsp;</span></p>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">พาเที่ยว กินช้อบ</span></li>
      <p><span style="font-weight: 400;">เราเข้าใจว่าการไปทำสวยที่ได้เที่ยวเป็นสิ่งที่จะทำให้คุณรู้สึกมีความสุขและประทับใจกับประสบการณ์บินไปศัลยกรรมที่เกาหลี ดังนั้น เรามีบริการท่องเที่ยวที่คุณสามารถแจ้งให้เราทราบถึงสถานที่ที่คุณต้องการไปเยี่ยมชมและท่องเที่ยว โดยไม่มีค่าใช้จ่ายเพิ่มเติม</span></p>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">พนักงานประจำเกาหลีพร้อมดูแล 365 วัน</span></li>
      <p><span style="font-weight: 400;">ตั้งแต่เหยียบแผ่นดินเกาหลีจะมีพนักงานคอยหน้าประตู ดังนั้นอุ่นใจได้แน่นอน แม้จะเดินทางมาคนเดียว เพร้อมที่จะดูแลคุณตั้งแต่ก่อนผ่าตัดจนถึงหลังผ่าตัด เข้าเยี่ยมทุกวัน เพราะเราเข้าใจว่าคุณอาจมีความต้องการหรือข้อสงสัยเกี่ยวกับการดูแลหลังผ่าตัด ดังนั้น หากคุณมีความต้องการเพิ่มเติมหรือสงสัยใดๆ โปรดแจ้งเราได้เลย&nbsp;</span></p>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">ทรีตเม้นท์ลดบวม</span></li>
      <p><span style="font-weight: 400;">หลังจากการผ่าตัด มีบริการทรีตเม้นท์เพื่อลดบวม นัดเช็คอาการ พบหมอหลังผ่าตัดเพื่อให้ได้พูดคุยบอกอาการหลังผ่าตัด สร้างความอุ่นใจให้ลูกค้า หรือการจัดการกับความเจ็บปวดหลังจากการผ่าตัด ทั้งหมดนี้เป็นส่วนหนึ่งของการดูแลลูกค้าที่ Grand New Life เรามุ่งมั่นที่จะให้บริการที่ดีที่สุดแก่คุณทุกท่าน</span></p>
      <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">รับภาษีคืน</span></li>
      </ol>
      <p><span style="font-weight: 400;">เมื่อศัลยกรรมที่ประเทศเกาหลีจะมี แท็กรีฟัน ตามยอดการผ่าตัดของลูกค้า หรือเมื่อลูกค้าท่องเที่ยวซื้อของช้อปปิ้ง ทีมงานของเราจะช่วยในการจัดเอกสารคืนภาษีให้คุณ เพื่อเข้าไปรับเงินคืนที่สนามบินอินชอนตอนกลับไทย</span></p>
    </div>
  </div>

<div class="row my-4">
    <div class="col-lg-12">
        <div class="info-container rounded p-4 ">
            <p class="to_h1">รายระเอียดการบริการเสริม</p>
                <ul>
                    <li>ส่วนลดจาก แกรนด์ นิว ไลฟ์</li>
                    <li>ลงทะเบียน K-ETA</li>
                    <li>เอกสารทางโรงพยาบาล</li>
                    <li>เอกสาร Q-code</li>
                    <li>ผู้ช่วยพยาบาลหลังผ่าตัด</li>
                    <li>เอกสารผ่าน ตม คนไข้และผู้ติดตาม</li>
                    <li>ศัลยกรรมได้ตามงบ</li>
                    <li>พาไป welcome dinner</li>
                    <li>พาไป กิน เที่ยว ช้อป</li>
                    <li>ดูแลทั้งในและนอกโรงพยาบาล</li>
                    <li>จ่ายตรงราคาเดียวกับโรงพยาบาล</li>
                    <li>รับรองสิทธิที่มากกว่า</li>
                </ul>
        </div>
        
        
    </div>
</div>

<!-- Why us? -->
    <div class="row my-5">
        <div class="col-lg-12 ">
            <div>
                <p class="to_h1">ทำไมถึงเลือกเรา?</p>
                <p>สิทธิต่างๆ ทาง GRANDNEWLIFE ให้มากกว่า คนไข้สามารถเทียบราคา เทียบสิทธิต่อรอง ถึงกล้ายืนยันว่า <span
                        class="fw-bold">“ถูกกว่าไปเอง”</span></p>
            </div>
        </div>
    </div>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon text-center fs-2 mb-3">
        <div class="ft-icon-wrapper m-auto mb-4">
          <img src="../../../assets/icons/undraw_aircraft_re_m05i.svg" class="ft-icon-control" alt="hotel-icon">
        </div>
        <p class="fs-3 ft-title pt-3 to_h3">งบตั๋วเครื่องบินสูงสุด 20,000 บาท</p>
      </div>
      <p>บินไปศัลยกรรมที่เกาหลีกับ Grand new life ไม่ใช่เรื่องยาก เราไม่แค่ดูแล เรื่อง รับส่ง และประสานงาน ซื้อแพ็คเก็ตใหญ่ รวมเลย ค่าตั๋ว หรือซื้อแบบเล็ก ก็ไม่ต้องห่วง เรามีงบค่าตั๋วเครื่องบินให้</p>
    </div>
    <div class="feature col">
      <div class="feature-icon text-center fs-3 mb-3">
        <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_coming_home_re_ausc.svg" class="ft-icon-control" style="width:41%; " alt="hotel-icon"></div>
        <p class="fs-3 ft-title to_h3"> ที่พักสูงสุด 15 คืนตามยอดการผ่าตัด </p>
      </div>
      <p>แกรนด์ นิว ไลฟ์ บริการจองและจ่ายให้เป็นโรงแรมแรมใกล้กับโรงพยาบาลเพื่ออำนวยความสะดวกให้ลูกค้า</p>
      
    </div>
    <div class="feature col">
      <div class="feature-icon text-center fs-3 mb-3">
        <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_shopping_app_flsj.svg" class="ft-icon-control" style="width:60%;" alt="hotel-icon"></div>
        <p class="fs-3 ft-title to_h3"> พาเที่ยว, กิน, ช็อปปิ้ง (เกาหลี) </p>
      </div>
      <p>ไปทำสวยอย่างมีความสุข เรามีบริการท่องเที่ยวด้วย แน่นอนว่ามาเกาหลีทั้งทีคุณต้องได้เที่ยวค่ะ อยากไปไหนบอกเราได้เลย รวมในแพคเกจแล้วไม่บวกเพิ่มแน่นอน</p>
    </div>
  </div>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon text-center fs-3 mb-3">
        <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_order_ride_re_372k.svg" class="ft-icon-control" alt="hotel-icon"></div>
        <p class="fs-3 ft-title to_h3">รถรับ/ส่ง สนามบิน</p>
      </div>
      <p>หมดห่วงเรื่องการเดินทาง grand new life มีรถรับส่งตลอดพร้อมพนักงานรอรับที่สนามบินทั้งไปและกลับ</p>
    </div>
    <div class="feature col">
      <div class="feature-icon text-center    fs-2 mb-3">
        <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_vault_re_s4my.svg" class="ft-icon-control" alt="hotel-icon"></div>
        <p class="fs-3 ft-title to_h3"> รับภาษีคืนประมาณ 7-10 %</p>
      </div>
      <p>ศัลยกรรมที่เกาหลีอย่างเดียวไม่พอ เที่ยวด้วย ซื้อของด้วย ทาง Grand new life รับรอง เรายังดำเนินจัดระบบคืนภาษี มีเงินช้อปเพิ่มอีกด้วย</p>
    </div>
    <div class="feature col">
      <div class="feature-icon text-center    fs-2 mb-3">
        <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_things_to_say_re_jpcg.svg" style="width:61%;" class="ft-icon-control" alt="hotel-icon"></div>
        <p class="fs-3 ft-title to_h3"> ล่ามฟรี ไทย-เกาหลี </p>
      </div>
      <p>จะไปทำศัลยกรรมที่เกาหลี พูดภาษาเกาหลีไม่ได้ไม่มีปัญหา ทาง Grand new life มีคนแปลให้พร้อม</p>
    </div>
  </div>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon text-center   fs-2 mb-3">
        <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_add_files_re_v09g.svg" class="ft-icon-control" style="width: 65%;" alt="hotel-icon"></div>
        <p class="fs-3 ft-title to_h3"> เอกสารทุกขั้นตอน </p>
      </div>
      <p>ขอแค่คนไข้มีพาสปอต เตรียมร่างกายสำหรับการผ่าตัด และจัดกระเป๋าเท่านั้น เอกสารการเข้าประเทศเกาหลี เราดำเนินการให้ทุกอย่าง พร้อมคอนเฟิร์มกรณีฉุกเฉินในการติด ตม 
         </p>
    </div>
    <div class="feature col">
      <div class="feature-icon text-center   fs-2 mb-3">
        <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_loving_story_re_wo5x.svg" class="ft-icon-control" style="width: 70%;" alt="hotel-icon"></div>
        <p class="fs-3 ft-title to_h3"> พนักงานประจำเกาหลีตลอดทั้งปี </p>
      </div>
      <p>หลังจากศัลยกรรมมีพนักงานคอยดูแลทุกวัน ฉุกเฉินติดต่อได้ 24 ชั่วโมง ไม่ทอดทิ้งแน่นอน</p>
    </div>
    <div class="feature col">
        <div class="feature-icon text-center   fs-2 mb-3">
          <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_medical_care_movn.svg" class="ft-icon-control" style="width: 82%;" alt="hotel-icon"></div>
          <p class="fs-3 ft-title to_h3"> ทรีตเม้นท์ลดบวม </p>
        </div>
        <p>เราเข้าใจลูกค้า หลังพาตัด ทาง Grand new life จะดูแล ลูกค้าอย่างดี และ ให้บริการทรีตเม้นท์ลดบวม เลย รวมถึงที่ เกาหลี และไทย</p>
      </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <p><span style="font-weight: 400;">นอกจากบริการที่จริงใจจากเรา เรายังเข้าใจลูกค้าอีกด้วย Grand New Life จึงคำนึงเสมอถึงผลประโยชน์ของลูกค้า เพราะฉะนั้น เราเต็มที่ในการช่วยประสานงานขอศัลยกรรมเกาหลีในราคาพิเศษและส่วนลดเพิ่มเติม และคอยแนะนำและหาโปรศัลยกรรมเกาหลีในราคาที่ดีที่สุดให้แก่คุณ พร้อมทั้งเรายังให้สิทธิพิเศษมากมายและราคาที่เทียบเท่าซื้อตรงจากโรงพยาบาล ทั้งหมดนี้ เพราะ แกรนด์ นิวไลฟ์ ใส่ใจด้านบริการศัลยกรรมที่เกาหลีจากใจจริง</span></p>
    </div>
  </div>

  <!-- Show case pictures -->
  <div class="row mt-4">
    <div class="col-lg-12 ">
        <div>
            <p class="to_h1">เคสตัวอย่างที่ผ่านมา</p>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img src="../../../assets/cases/case- (11).jpeg"
        class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

      <img src="../../../assets/cases/case- (13).jpeg" class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img src="../../../assets/cases/case- (6).jpeg" class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds" />

      <img src="../../../assets/cases/case- (12).jpeg"
        class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img src="../../../assets/cases/case- (10).jpeg"
        class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

      <img src="../../../assets/cases/case- (5).jpeg" class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park" />
    </div>
  </div>

</section>