<section class="slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-image-wrapper">
                    <img src="../../../assets/clinic/clinic-slider.png" class="d-block w-100 carousel-image-controler"
                        alt="...">
                </div>
                <div class="container">
                    <div class="carousel-caption custome-carousel-caption text-white text-end pt-2">
                        <h1 class="lh-sm">แกรนด์ นิว ไลฟ์ ศูนย์ปรึกษาศัลยกรรมเกาหลี และบริการ พาไปศัลยกรรมเกาหลี
                            โรงพยาบาลชั้นนำ ถูกกฎหมาย  ไทย - เกาหลี</h1>
                        <p class="fs-5">จากประสบการณ์การทำศัลยกรรม ที่เกาหลีด้วยตัวเองและด้วยการดูแลเคสลูกค้ามาตลอด
                            มากกว่า 8 ปี </p>
                        <a class="bg-second  btn text-white" href="tel:0987849936">สอบถามรายละเอียด</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section>
    <!-- Hospital -->
    <div class="row my-5 border rounded p-3 py-5">
        <div class="col-lg-12 ">
            <div>
                <h1>โรงพยาบาล ในเครือค่ายเรา</h1>
                <p>สิทธิต่างๆ ทาง GRANDNEWLIFE ให้มากกว่า คนไข้สามารถเทียบราคา เทียบสิทธิต่อรอง ถึงกล้ายืนยันว่า <span
                        class="fw-bold">“ถูกกว่าไปเอง”</span></p>
            </div>
        </div>
        <div class="col-lg-2 my-2">
            <div class="x6-img-container">
                <img class="x6-img-controller" src="../../../assets/clinic/ID.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 my-2">
            <div class="x6-img-container">
                <img class="x6-img-controller" src="../../../assets/clinic/Banobagi.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 my-2">
            <div class="x6-img-container">
                <img class="x6-img-controller" src="../../../assets/clinic/EU.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 my-2">
            <div class="x6-img-container">
                <img class="x6-img-controller" src="../../../assets/clinic/LOUVRE.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 my-2">
            <div class="x6-img-container">
                <img class="x6-img-controller" src="../../../assets/clinic/Nana.png" alt="">
            </div>
        </div>
        <div class="col-lg-2 my-2">
            <div class="x6-img-container">
                <img class="x6-img-controller" src="../../../assets/clinic/View-Plastic.png" alt="">
            </div>
        </div>
    </div>

    <div class="row featurette my-t m-auto">
        <div class="col-md-12 text-center mt-5">
            <p>
                บริษัท แกรนด์ นิว ไลฟ์ ดูแลศัลยกรรมที่ประเทศเกาหลี บริการยาวนาน 8 ปี เพื่อดูแลลูกค้าทำศัลยกรรมให้ความสะดวกครบวงจร แนะนำลูกค้าจากประสบการณ์ตรงและผลลัพธ์ความพึงพอใจจากคนไข้ เพียงแค่ลูกค้าเตรียมพาสปอตและจัดกระเป๋าพร้อมบินเท่านั้น เอกสารทุกขั้นตอนเป็นหน้าที่เราดูแล
            </p>
        </div>
        <div class="col-md-12">
            <div class="info-container rounded p-4 ">
                <div class="d-flex">
                    <i class="fa-solid fa-circle-info info-icon-controller "></i>
                    <span class="mat-title">เอเจนซี่ <span class="colour-secon">ไม่บวกเพิ่ม</span> แล้วนะรู้ยัง… เพราะ แกรนด์ นิว ไลฟ์ สามารถตรวจสอบได้เทียบราคากับโรงพยาบาลได้ อีกทั้งสิทธิที่มากกว่า
                    </span>
                </div>
            </div>
        </div>
        <div class="col-mid-12 text-center mt-4">
            <p> นอกเหนือสิทธิที่มากกว่า ทางเรามีพนักงานประจำคอยดูแลลูกค้าตั้งแต่ต้นจนจบทริป เป็นบริการที่ไม่ต้องจ่ายค่าบริการใดๆ</p>
            <button mat-raised-button  routerLink="/clinic" color="accent" class="my-4 text-white">ดูรายละเอียด แกรนด์ นิว ไลฟ์ คลินิก</button>
            <div>
                <p>อยากบินไปทำสวยที่ ร.พ.ไอดีเกาหลี วางใจให้พี่มนดูแล “ถูกกว่าไปเอง” พี่มนช่วยประสานงานขอราคาพิเศษ และส่วนลดเพิ่มเติมได้ค่ะ</p>
                <p>สนใจทำศัลยกรรมโรงพยาบาลไหนเป็นพิเศษ ทางเรายินดีดูแล เน้นบริการ ไม่เน้นยอดการผ่าตัด ยืนยันว่าบริการจากใจจริง</p>
            </div>
            <p></p>
        </div>

        
    </div>

  <!-- Feed back-->
  <div class="col-lg-12 mt-5">
    <div>
      <h1>ฟีดแบค จากลูกค้าเรา</h1>
      <p>สิทธิต่างๆ ทาง GRANDNEWLIFE ให้มากกว่า คนไข้สามารถเทียบราคา เทียบสิทธิต่อรอง ถึงกล้ายืนยันว่า <span class="fw-bold">“ถูกกว่าไปเอง”</span></p>
    </div>
  </div>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-1.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-2.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-3.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-4.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-5.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-6.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-7.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-8.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div class="row my-4">
    <div class="col-lg-12">
        <div class="info-container rounded p-4 ">
            <h1>รายระเอียดการบริการเสริม</h1>
                <ul>
                    <li>ส่วนลดจาก แกรนด์ นิว ไลฟ์</li>
                    <li>ลงทะเบียน K-ETA</li>
                    <li>เอกสารทางโรงพยาบาล</li>
                    <li>เอกสาร Q-code</li>
                    <li>ผู้ช่วยพยาบาลหลังผ่าตัด</li>
                    <li>เอกสารผ่าน ตม คนไข้และผู้ติดตาม</li>
                    <li>ศัลยกรรมได้ตามงบ</li>
                    <li>พาไป welcome dinner</li>
                    <li>พาไป กิน เที่ยว ช้อป</li>
                    <li>ดูแลทั้งในและนอกโรงพยาบาล</li>
                    <li>จ่ายตรงราคาเดียวกับโรงพยาบาล</li>
                    <li>รับรองสิทธิที่มากกว่า</li>
                </ul>
        </div>
        
        
    </div>
</div>

<!-- Why us? -->
    <div class="row my-5">
        <div class="col-lg-12 ">
            <div>
                <h1>ทำไมถึงเลือกเรา?</h1>
                <p>สิทธิต่างๆ ทาง GRANDNEWLIFE ให้มากกว่า คนไข้สามารถเทียบราคา เทียบสิทธิต่อรอง ถึงกล้ายืนยันว่า <span
                        class="fw-bold">“ถูกกว่าไปเอง”</span></p>
            </div>
        </div>
    </div>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon text-center fs-2 mb-3">
        <div class="ft-icon-wrapper m-auto mb-4">
          <img src="../../../assets/icons/undraw_aircraft_re_m05i.svg" class="ft-icon-control" alt="hotel-icon">
        </div>
        <h3 class="fs-3 ft-title pt-3">งบตั๋วเครื่องบินสูงสุด 20,000 บาท</h3>
      </div>
      <p>บินไปศัลยกรรมที่เกาหลีกับ Grand new life ไม่ใช่เรื่องยาก เราไม่แค่ดูแล เรื่อง รับส่ง และประสานงาน ซื้อแพ็คเก็ตใหญ่ รวมเลย ค่าตั๋ว หรือซื้อแบบเล็ก ก็ไม่ต้องห่วง เรามีงบค่าตั๋วเครื่องบินให้</p>
    </div>
    <div class="feature col">
      <div class="feature-icon text-center fs-3 mb-3">
        <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_coming_home_re_ausc.svg" class="ft-icon-control" style="width:41%; " alt="hotel-icon"></div>
        <h3 class="fs-3 ft-title"> ที่พักสูงสุด 15 คืนตามยอดการผ่าตัด </h3>
      </div>
      <p>แกรนด์ นิว ไลฟ์ บริการจองและจ่ายให้เป็นโรงแรมแรมใกล้กับโรงพยาบาลเพื่ออำนวยความสะดวกให้ลูกค้า</p>
      
    </div>
    <div class="feature col">
      <div class="feature-icon text-center fs-3 mb-3">
        <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_shopping_app_flsj.svg" class="ft-icon-control" style="width:60%;" alt="hotel-icon"></div>
        <h3 class="fs-3 ft-title"> พาเที่ยว, กิน, ช็อปปิ้ง (เกาหลี) </h3>
      </div>
      <p>ไปทำสวยอย่างมีความสุข เรามีบริการท่องเที่ยวด้วย แน่นอนว่ามาเกาหลีทั้งทีคุณต้องได้เที่ยวค่ะ อยากไปไหนบอกเราได้เลย รวมในแพคเกจแล้วไม่บวกเพิ่มแน่นอน</p>
    </div>
  </div>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon text-center fs-3 mb-3">
        <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_order_ride_re_372k.svg" class="ft-icon-control" alt="hotel-icon"></div>
        <h3 class="fs-3 ft-title">รถรับ/ส่ง สนามบิน</h3>
      </div>
      <p>หมดห่วงเรื่องการเดินทาง grand new life มีรถรับส่งตลอดพร้อมพนักงานรอรับที่สนามบินทั้งไปและกลับ</p>
    </div>
    <div class="feature col">
      <div class="feature-icon text-center    fs-2 mb-3">
        <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_vault_re_s4my.svg" class="ft-icon-control" alt="hotel-icon"></div>
        <h3 class="fs-3 ft-title"> รับภาษีคืนประมาณ 7-10 %</h3>
      </div>
      <p>ศัลยกรรมที่เกาหลีอย่างเดียวไม่พอ เที่ยวด้วย ซื้อของด้วย ทาง Grand new life รับรอง เรายังดำเนินจัดระบบคืนภาษี มีเงินช้อปเพิ่มอีกด้วย</p>
    </div>
    <div class="feature col">
      <div class="feature-icon text-center    fs-2 mb-3">
        <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_things_to_say_re_jpcg.svg" style="width:61%;" class="ft-icon-control" alt="hotel-icon"></div>
        <h3 class="fs-3 ft-title"> ล่ามฟรี ไทย-เกาหลี </h3>
      </div>
      <p>จะไปทำศัลยกรรมที่เกาหลี พูดภาษาเกาหลีไม่ได้ไม่มีปัญหา ทาง Grand new life มีคนแปลให้พร้อม</p>
    </div>
  </div>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon text-center   fs-2 mb-3">
        <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_add_files_re_v09g.svg" class="ft-icon-control" style="width: 65%;" alt="hotel-icon"></div>
        <h3 class="fs-3 ft-title"> เอกสารทุกขั้นตอน </h3>
      </div>
      <p>ขอแค่คนไข้มีพาสปอต เตรียมร่างกายสำหรับการผ่าตัด และจัดกระเป๋าเท่านั้น เอกสารการเข้าประเทศเกาหลี เราดำเนินการให้ทุกอย่าง พร้อมคอนเฟิร์มกรณีฉุกเฉินในการติด ตม 
         </p>
    </div>
    <div class="feature col">
      <div class="feature-icon text-center   fs-2 mb-3">
        <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_loving_story_re_wo5x.svg" class="ft-icon-control" style="width: 70%;" alt="hotel-icon"></div>
        <h3 class="fs-3 ft-title"> พนักงานประจำเกาหลีตลอดทั้งปี </h3>
      </div>
      <p>หลังจากศัลยกรรมมีพนักงานคอยดูแลทุกวัน ฉุกเฉินติดต่อได้ 24 ชั่วโมง ไม่ทอดทิ้งแน่นอน</p>
    </div>
    <div class="feature col">
        <div class="feature-icon text-center   fs-2 mb-3">
          <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_medical_care_movn.svg" class="ft-icon-control" style="width: 82%;" alt="hotel-icon"></div>
          <h3 class="fs-3 ft-title"> ทรีตเม้นท์ลดบวม </h3>
        </div>
        <p>เราเข้าใจลูกค้า หลังพาตัด ทาง Grand new life จะดูแล ลูกค้าอย่างดี และ ให้บริการทรีตเม้นท์ลดบวม เลย รวมถึงที่ เกาหลี และไทย</p>
      </div>
  </div>

  <!-- Show case pictures -->
  <div class="row mt-4">
    <div class="col-lg-12 ">
        <div>
            <h1>เคสตัวอย่างที่ผ่านมา</h1>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img src="../../../assets/cases/case- (11).jpeg"
        class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

      <img src="../../../assets/cases/case- (13).jpeg" class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img src="../../../assets/cases/case- (6).jpeg" class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds" />

      <img src="../../../assets/cases/case- (12).jpeg"
        class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img src="../../../assets/cases/case- (10).jpeg"
        class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

      <img src="../../../assets/cases/case- (5).jpeg" class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park" />
    </div>
  </div>

    
</section>