

<section class="slider desktop-homepage-banner-slider">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-image-wrapper">
          <img src="../../../assets/slider/01-slider.jpg" class="d-block w-100 carousel-image-controler" alt="...">
        </div>
        <div class="container">
          <div class="carousel-caption custome-carousel-caption text-white text-end pt-2">
            <h3 class="to_h1">บริการดูแลเคสทำศัลยกรรมที่ประเทศทุกโรงพยาบาล ชั้นนำที่คุณวางใจ</h3>
            <p>จากประสบการณ์การทำศัลยกรรม ที่เกาหลีด้วยตัวเองและด้วยการดูแลเคสลูกค้ามาตลอด มากกว่า 8 ปี </p>
            <p>วางใจให้ GRANDNEWLIFE ถูกต้องตามกฎหมายไทย-เกาหลี</p>
            <p>บริการดูแลครบวงจร ยืนยัน 100% ไม่มีบวกเพิ่ม ราคาเดียวกับโรงพยาบาล
              V2 </p>
            <a class="bg-second  btn text-white" href="tel:0987849936">สอบถามรายละเอียด</a>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img src="../../../assets/slider/01-slider.jpg" class="d-block w-100 carousel-image-controler" alt="...">
        <div class="container">
          <div class="carousel-caption custome-carousel-caption  text-white text-end">
            <p class="to_h1">จากประสบการณ์ เราเน้นดูแลเรื่องบริการ อำนวยความสะดวกให้คนไข้อันดับหนึ่ง</p>
            <p>ได้รับรางวัลยืนยันถึง2 โรงพยาบาล มีผู้ดูแลทั้งในและนอกโรงพยาบาล ตลอดทั้งทริป ไม่เกินจริง !!
              และไม่บวกเพิ่มค่าบริการ </p>
            <a class="bg-second  btn text-white" href="tel:0987849936">สอบถามรายละเอียด</a>
          </div>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section>

<!-- Banner Homepage Mobile -->
<section class="slider mobile-homepage-banner-slider">
  <div id="carouselExampleIndicators-3" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators-3" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators-3" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/clinic/home-page-1.jpg" alt="" width="500px;">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/clinic/home-page-2.jpg" alt="" width="500px;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators-3"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators-3"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section>

<section>
  <div class="row">
    <div class="col-lg-6 mb-3">
      <a class="news-home-link" routerLink="/safe-breast-surgery">
        <div class="mb-2">
            <img src="../../../assets/news/safe-breast-surgery/cover5.jpg" class="w-100 shadow-1-strong rounded my-1"/>
        </div>
        <h3>สิ่งที่ควรรู้ก่อนทำศัลยกรรมหน้าอก รู้ไว้ปลอดภัยกว่า</h3>
      </a>
    </div>
    <div class="col-lg-6 mb-3">
      <a class="news-home-link" routerLink="/trend-koreasurgery2023">
        <div class="mb-2">
            <img src="../../../assets/news/trend-koreasurgery2023/cover6.jpg" class="w-100 shadow-1-strong rounded my-1"/>
        </div>
        <h3>เช็คลิสต์เทรนด์ทำศัลยกรรมเกาหลีปี 2023</h3>
      </a>
    </div>
  </div>
</section>

<section>
  <div class="col-lg-12 my-5 text-center">
    <h3 class="to_h1">บริการดูแลเคสทำศัลยกรรมที่ประเทศทุกโรงพยาบาล ชั้นนำที่คุณวางใจ</h3>
    <p>จากประสบการณ์การทำศัลยกรรม ที่เกาหลีด้วยตัวเองและด้วยการดูแลเคสลูกค้ามาตลอด มากกว่า 8 ปี </p>
    <p>วางใจให้ GRANDNEWLIFE ถูกต้องตามกฎหมายไทย-เกาหลี</p>
    <p>บริการดูแลครบวงจร ยืนยัน 100% ไม่มีบวกเพิ่ม ราคาเดียวกับโรงพยาบาล V2</p>
  </div>
</section>

<section>
<div class="row featurette my-5 m-auto">
  <div class="col-lg-12 my-5 text-center">
    <h1>ครบจบทุกขั้นตอน ไว้ใจ <span class="colour-second">แกรนด์ นิว ไลฟ์</span> เอเจนซี่ศัลยกรรมเกาหลี</h1>
    <p><span style="font-weight: 400;">ให้ Grand New Life เอเจนซี่ศัลยกรรมเกาหลี มอบประสบการณ์เปลี่ยนชีวิตให้คุณ เราดูแลคุณด้วยใจจริงครบจบทุกขั้นตอน เพื่อให้การศัลยกรรมที่เกาหลีของคุณมีแต่ความสะดวก&nbsp;</span></p>

    <p class="welcome-title to_h2">วางใจให้ แกรนด์ นิว ไลฟ์ และทีมงานดูแล</p>
    <p class="w-75 m-auto">อยากไปเที่ยวช่วงระหว่างแต่งเติมความสวยงาม หรือทําศัลยกรรมที่เกาหลี เรา Grand new life รับบริการดูแลเคสทำศัลยกรรมโรงพยาบาลชั้นนำในประเทศเกาหลี หมดห่วงเรื่องจุกจิก อย่าง ภาษาเกาหลี รถรับส่ง ที่พักโรงแรม Grand new life ดูแลตั้งแต่เริ่มต้นการเดินทางจนจบ </p>
  </div>
  <div class="col-md-7 d-flex flex-column align-middle justify-content-center text-center">
    <p class="welcome-title lh-1 to_h1">GRAND NEW LIFE</p>
    <span class="title-divider"></span>
    <p class="lead">บริษัท Grand new life เป็นหนึ่งในตัวแทนเรื่องศัลยกรรมประเทศเกาหลี รับดูแลเคสตั้งแต่เริ่มทริปถึงจบทริป  ปัญหากังวลเรื่องภาษา ที่พัก โรงแรม โรงพยาบาลต่างๆ เราจัดการให้หมด  มั่นใจในบริการของเรา จะได้รับความสะดวกสบายมากที่สุด </p>
    <p>อีกทั้ง Grand new life มีศูนย์ปรึกษาไทยรองรับคุณหมอจากประเทศเกาหลี ยืนยันว่าเราถูกต้อง และมีตัวตนจริง ตรวจสอบได้ </p>
  </div>
  <div class="col-md-5 m-auto">
    <div class="x1-img-container m-auto">
      <img class="img-fluid rounded x1-img-controller" src="../../../assets/landing-page/clinic-award.jpeg" alt="">
    </div>
  </div>
</div>

<div class="row">
  <h2><strong>แกรนด์ นิว ไลฟ์ เอเจนซี่ศัลยกรรมเกาหลีชั้นนำที่คุณวางใจ</strong></h2>
  <p><span style="font-weight: 400;">บริษัท Grand New Life เป็นหนึ่งในเอเจนซี่ศัลยกรรมเกาหลี ที่ใส่ใจ ดูแลทุกขั้นตอนจนสิ้นสุดเส้นทางทำศัลยกรรมเกาหลีของคุณ ตั้งแต่การดำเนินเรื่องเข้าประเทศ ไปจนถึงกลับไทย และติดตามอัพเดตอย่างต่อเนื่อง โดยไม่มีค่าใช้จ่ายใด ๆ เพิ่มเติม หมดกังวลทุกปัญหาด้าน ภาษา อาหาร ที่พัก โรงแรม การท่องเที่ยว และโรงพยาบาลเกาหลีศัลยกรรมต่าง ๆ</span></p>
  <p><span style="font-weight: 400;">&nbsp;นอกจากนี้ Grand New Life ยังมีศูนย์ปรึกษาที่ไทยอย่างถูกต้องที่สามารถรองรับคุณหมอจากประเทศเกาหลีและสามารถตรวจสอบได้&nbsp;</span></p>
  <p><span style="font-weight: 400;">มั่นใจในบริการของเรา ที่สร้างแค่ประสบการณ์ที่มีแต่ความสะดวกสบาย</span></p>
  <p><span style="font-weight: 400;">เราพัฒนาจากประสบการณ์ตรง จึงมั่นใจและกล้าเป็นหนึ่งในแนวหน้าตัวแทนเรื่องศัลยกรรมที่เกาหลี เราเข้าใจทุกความกังวลและรู้ทันปัญหาที่อาจเกิดขึ้น ลดความวุ่นวาย พร้อมแก้ไขปัญหาเฉพาะหน้าและประสานงานตอบคนไข้ตลอด 24 ชั่วโมง&nbsp;</span></p>
  <p><span style="font-weight: 400;">แกรนด์ นิว ไลฟ์ เน้นประโยชน์ของคนไข้สำคัญกว่ายอดผ่าตัด จึงเน้นงานบริการและดูแลเพื่อให้คนไข้ประทับใจที่สุด ดังนั้น หมดกังวลเรื่องการเดินทางคนเดียว ทั้งหมดนี้จึงเป็นส่วนหนึ่งในเหตุผลที่ลูกค้าไว้วางใจ Grand New Life และมอบโอกาสให้เรามีประสบการณ์ดูแลมากว่า 8 ปี&nbsp;</span></p>
</div>

<!-- Hospital -->
<div class="row my-5 border rounded p-3 py-5 desktop-hospital-slider">
  <div class="col-lg-12 ">
    <div>
      <p class="to_h1">โรงพยาบาล ในเครือค่ายเรา</p>
      <p>สิทธิต่างๆ ทาง GRANDNEWLIFE ให้มากกว่า คนไข้สามารถเทียบราคา เทียบสิทธิต่อรอง ถึงกล้ายืนยันว่า <span class="fw-bold">“ถูกกว่าไปเอง”</span></p>
    </div>
  </div>
  <div class="col-lg-2 my-2">
    <div class="x6-img-container">
      <img class="x6-img-controller" src="../../../assets/clinic/ID.png" alt="">
    </div>
  </div>
  <div class="col-lg-2 my-2">
    <div class="x6-img-container">
      <img class="x6-img-controller" src="../../../assets/clinic/Banobagi.png" alt="">
    </div>
  </div>
  <div class="col-lg-2 my-2">
    <div class="x6-img-container">
      <img class="x6-img-controller" src="../../../assets/clinic/EU.png" alt="">
    </div>
  </div>
  <div class="col-lg-2 my-2">
    <div class="x6-img-container">
      <img class="x6-img-controller" src="../../../assets/clinic/LOUVRE.png" alt="">
    </div>
  </div>
  <div class="col-lg-2 my-2">
    <div class="x6-img-container">
      <img class="x6-img-controller" src="../../../assets/clinic/Nana.png" alt="">
    </div>
  </div>
  <div class="col-lg-2 my-2">
    <div class="x6-img-container">
      <img class="x6-img-controller" src="../../../assets/clinic/View-Plastic.png" alt="">
    </div>
  </div>
  <div class="col-lg-2 my-2">
    <div class="x6-img-container">
      <img class="x6-img-controller" src="../../../assets/clinic/AB-clinic.jpg" alt="">
    </div>
  </div>
  <div class="col-lg-2 my-2">
    <div class="x6-img-container">
      <img class="x6-img-controller" src="../../../assets/clinic/jayjun.jpg" alt="">
    </div>
  </div>
  <div class="col-lg-2 my-2">
    <div class="x6-img-container">
      <img class="x6-img-controller" src="../../../assets/clinic/top-class-plastic-surgery.jpg" alt="">
    </div>
  </div>
</div>

<!-- Hospital Slide Mobile Responsive -->
<section class="slider mobile-hospital-slider">
  <div class="col-lg-12 ">
    <div>
      <p class="to_h1">โรงพยาบาล ในเครือค่ายเรา</p>
      <p>สิทธิต่างๆ ทาง GRANDNEWLIFE ให้มากกว่า คนไข้สามารถเทียบราคา เทียบสิทธิต่อรอง ถึงกล้ายืนยันว่า <span class="fw-bold">“ถูกกว่าไปเอง”</span></p>
    </div>
  </div>
  <div id="carouselExampleIndicators-2" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators-2" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators-2" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators-2" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators-2" data-bs-slide-to="3"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators-2" data-bs-slide-to="4"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators-2" data-bs-slide-to="5"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators-2" data-bs-slide-to="6"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators-2" data-bs-slide-to="7"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators-2" data-bs-slide-to="8"
        aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/clinic/ID.png" alt="" width="300px;">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/clinic/Banobagi.png" alt="" width="300px;">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/clinic/EU.png" alt="" width="300px;">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/clinic/LOUVRE.png" alt="" width="300px;">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/clinic/Nana.png" alt="" width="300px;">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/clinic/View-Plastic.png" alt="" width="300px;">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/clinic/AB-clinic.jpg" alt="" width="300px;">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/clinic/jayjun.jpg" alt="" width="300px;">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/clinic/top-class-plastic-surgery.jpg" alt="" width="300px;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators-2"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators-2"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section>


<!-- Why us? -->
<div class="row my-5">
  <div class="col-lg-12 ">
    <div>

      <h2><strong>ทำไมเลือกไปศัลยกรรมที่เกาหลีกับแกรนด์ นิว ไลฟ์ ถึงดีกว่า?</strong></h2>
      <p><span style="font-weight: 400;">Grand New Life เป็นบริษัทที่ถูกต้องตามกฎหมายไทย-เกาหลี ลดความวุ่นวาย เพราะเราเข้าใจว่าความไม่สะดวกสบายและปัญหาต่าง ๆ คือช่วงเวลาที่ลำบากที่สุดของการศัลยกรรมที่เกาหลี เรายืนยันบริการอย่างครบวงจรด้วยใจ ให้คุณอุ่นใจตั้งแต่จอง การันตีด้วยโล่รางวัล &ldquo;For your outstanding performance and invaluable contributions&rdquo; จากโรงพยาบาลเกาหลีศัลยกรรมความงามชั้นนำของเกาหลีใต้อย่าง โรงพยาบาลไอดีและโรงพยาบาลนานะ ที่มีชื่อเสียงระดับประเทศ อีกทั้งยังมีผลงานเด่นตามรายการต่าง ๆ เช่น Let Me In Thailand ซึ่งเราเป็นเจ้าแรกในประเทศไทยและในระดับเอเชียที่ได้รับรางวัลนี้ เราจึงกล้ารับรองความโดดเด่นในการปฎิบัติหน้าที่เป็นเอเจนซี่ศัลยกรรมเกาหลีที่มีคุณค่า&nbsp;</span></p>
      <p><span style="font-weight: 400;">ปัจจุบันมี เอเจนซี่ศัลยกรรมเกาหลี เกิดขึ้นใหม่มากมาย ทำให้ผู้ที่สนใจอยากไปทำศัลยกรรมที่เกาหลีได้มีตัวเลือกตัดสินใจที่หลากหลายกันมากขึ้น การเลือกเอเจนซี่ที่ใส่ใจ ไม่ทิ้งลูกค้า และให้บริการอย่างครบครัน จึงเป็นสิ่งที่ควรคำนึงไว้เสมอ เลือก Grand New Life ตอบโจทย์คุณอย่างแน่นอน&nbsp;</span></p>
    
      <p><span style="font-weight: 400;">เราบริการใส่ใจประโยชน์ของคนไข้อย่างแท้ที่สุด ประเมินจากพื้นฐานคนไข้และทำทุกอย่างตามความต้องการของคนไข้เท่านั้น โดยไม่เสนอขายเพิ่มเกินความเป็นจริง</span></p>
      <p><span style="font-weight: 400;">ส่วนในเรื่องความปลอดภัย เราให้ความสำคัญสูงสุดแน่นอน กับข้อมูลความเป็นส่วนตัวของคุณและจะเก็บเป็นความลับสุดยอด เราไม่มีการเปิดเผยข้อมูลส่วนตัวและใบหน้าของคนไข้หากไม่ได้คำรับอนุญาต ดังนั้น คุณจึงพักฟื้นได้อย่างสบายใจ ไร้กังวล</span></p>
      <p><span style="font-weight: 400;">เรื่องบริการ แกรนด์ นิว ไลฟ์ เราดูแลทุกขั้นตอนอย่างครบวงจร พร้อมตอบทุกข้อสงสัยเกี่ยวกับการทำศัลยกรรมเกาหลีและแนะนำอย่างจริงใจ รวมถึงแนะนำทุกจุดเด่น เอกลักษณ์ และสไตล์เฉพาะที่แตกต่างกันของทุกโรงพยาบาลเกาหลีศัลยกรรมในเครือ เราบริการให้คำปรึกษากับลูกค้าทุกท่านอย่างอบอุ่นและตรงไปตรงมาภายใต้ขอบเขตความต้องการของลูกค้าเท่านั้น เพื่อให้คุณได้รับการบริการและผลลัพธ์ที่ดีและประทับใจที่สุด&nbsp;</span></p>


    </div>
  </div>
</div>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
  <div class="feature col">
    <div class="feature-icon text-center fs-2 mb-3">
      <div class="ft-icon-wrapper m-auto mb-4">
        <img src="../../../assets/icons/undraw_aircraft_re_m05i.svg" class="ft-icon-control" alt="hotel-icon">
      </div>
      <p class="fs-3 ft-title pt-3 to_h3">ตั๋วเครื่องบินไปกลับเกาหลี</p>
    </div>
    
    <p>ตามยอดการผ่าตัด บินไปศัลยกรรมที่เกาหลีกับ Grand new life เราไม่แค่ดูแล เรื่องจองตั๋ว และรถรับ-ส่ง แต่เรามีพนักงานรอรับที่สนามบิน อุ่นใจเรื่องเดินทางมาคนเดียวหรือครั้งแรกได้เลย</p>
  </div>
  <div class="feature col">
    <div class="feature-icon text-center fs-3 mb-3">
      <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_coming_home_re_ausc.svg" class="ft-icon-control" style="width:41%; " alt="hotel-icon"></div>
      <p class="fs-3 ft-title to_h3"> ที่พักสูงสุด 15 คืนตามยอดการผ่าตัด </p>
    </div>
    <p>Grand new life ดูแลทำการจอง เลือกที่พักที่ใกล้กับโรงพยาบาลเพื่ออำนวยความสะดวกให้ลูกค้าที่สุด</p>
    
  </div>
  <div class="feature col">
    <div class="feature-icon text-center fs-3 mb-3">
      <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_shopping_app_flsj.svg" class="ft-icon-control" style="width:60%;" alt="hotel-icon"></div>
      <p class="fs-3 ft-title to_h3"> พาเที่ยว, กิน, ช็อปปิ้ง (เกาหลี) </p>
    </div>
    <p>ไปทำสวยอย่างมีความสุข เรามีบริการท่องเที่ยวด้วย แน่นอนว่ามาเกาหลีทั้งทีคุณต้องได้เที่ยวค่ะ อยากไปไหนบอกเราได้เลย รวมในแพคเกจแล้วไม่บวกเพิ่มแน่นอน</p>
  </div>
</div>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
  <div class="feature col">
    <div class="feature-icon text-center fs-3 mb-3">
      <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_order_ride_re_372k.svg" class="ft-icon-control" alt="hotel-icon"></div>
      <p class="fs-3 ft-title to_h3">รถรับ/ส่ง สนามบิน</p>
    </div>
    <p>หมดห่วงเรื่องการเดินทาง ไปไม่ถูก ไปไม่เป็น Grand new life พาไปเองค่ะ</p>
  </div>
  <div class="feature col">
    <div class="feature-icon text-center    fs-2 mb-3">
      <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_vault_re_s4my.svg" class="ft-icon-control" alt="hotel-icon"></div>
      <p class="fs-3 ft-title to_h3"> รับภาษีคืนประมาณ 7-10 %</p>
    </div>
    <p>ศัลยกรรมที่เกาหลีอย่างเดียวไม่พอ เที่ยวด้วย ซื้อของด้วย ทาง Grand new life รับรอง เรายังดำเนินจัดระบบคืนภาษี มีเงินช้อปเพิ่มอีกด้วย</p>
  </div>
  <div class="feature col">
    <div class="feature-icon text-center    fs-2 mb-3">
      <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_things_to_say_re_jpcg.svg" style="width:61%;" class="ft-icon-control" alt="hotel-icon"></div>
      <p class="fs-3 ft-title to_h3"> ล่ามฟรี ไทย-เกาหลี </p>
    </div>
    <p>จะไปทำศัลยกรรมที่เกาหลี พูดภาษาเกาหลีไม่ได้ไม่มีปัญหา ทาง Grand new life มีคนแปลให้พร้อม</p>
  </div>
</div>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
  <div class="feature col">
    <div class="feature-icon text-center   fs-2 mb-3">
      <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_add_files_re_v09g.svg" class="ft-icon-control" style="width: 65%;" alt="hotel-icon"></div>
      <p class="fs-3 ft-title to_h3"> เอกสารทุกขั้นตอน </p>
    </div>
    <p>ขอแค่คนไข้มีพาสปอต เตรียมร่างกายสำหรับการผ่าตัด และจัดกระเป๋าเท่านั้น เอกสารการเข้าประเทศเกาหลี เราดำเนินการให้ทุกอย่าง พร้อมคอนเฟิร์มกรณีฉุกเฉินในการติด ตม 
       </p>
  </div>
  <div class="feature col">
    <div class="feature-icon text-center   fs-2 mb-3">
      <div class="ft-icon-wrapper m-auto mb-4"><img src="../../../assets/icons/undraw_loving_story_re_wo5x.svg" class="ft-icon-control" style="width: 70%;" alt="hotel-icon"></div>
      <p class="fs-3 ft-title to_h3"> พนักงานดูแล | ผู้ช่วยพยาบาล 365 วัน </p>
    </div>
    <p>แน่นอนว่าเรามีทีมงานประจำทั้งปี จัดเตรียมไว้เพื่อบริการทุกเคส ไม่ดูแลเฉพาะก่อนผ่าตัด หลังผ่าตัดพนักงานของเราคอยรับจากโรงพยาบาล และเข้าเยี่ยมหาคนไข้ที่โรงแรททุกวัน ขาดเหลือส่วนไหนแจ้งได้ ย้ำว่าส่วนนี้เราไม่มีค่าบริการ</p>
  </div>
</div>


<!-- Trip -->
<div class="row">
  <div class="col-lg-12 mb-3">
    <div>
      <p class="to_h1">รูปภาพทริปกับเรา</p>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img src="../../../assets/trip/trip- (1).jpeg" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
      
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img src="https://live.staticflickr.com/65535/52542172142_b631a1f39e_k.jpg"
      class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

      <img src="../../../assets/trip/trip- (7).jpeg"
      class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img src="../../../assets/trip/trip- (2).jpeg" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />
  </div>
  <div class="col-lg-12 text-center my-5">
    <button class="btn btn-lg btn-primary" color="primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      ดูเพิ่ม
    </button>
  </div>

  <!-- Hide content -->
  <div class="collapse" id="collapseExample">
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="../../../assets/trip/trip- (4).jpeg"
          class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
    
        <img src="../../../assets/trip/trip- (3).jpeg" class="w-100 shadow-1-strong rounded mb-4"
          alt="Wintry Mountain Landscape" />
      </div>
    
      <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="../../../assets/trip/trip- (5).jpeg" class="w-100 shadow-1-strong rounded mb-4"
          alt="Mountains in the Clouds" />
    
        <img src="../../../assets/trip/trip- (6).jpeg"
          class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

          
      </div>
    
      <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="../../../assets/trip/trip- (8).jpeg"
          class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />
    
        <img src="../../../assets/trip/trip- (9).jpeg" class="w-100 shadow-1-strong rounded mb-4"
          alt="Yosemite National Park" />
      </div>
    </div>
  </div>
</div>

<hr>

   

<div class="row featurette">
  <div class="col-md-5 my-5">
    <div class="director-image-container">
      <img class="director-image-control" src="../../../assets/landing-page/ID_Director.png" alt="">
    </div>
  </div>
  <div class="col-md-7">
    <p class="featurette-heading fw-normal lh-1 to_h1">คำทักทายของผู้อำนวยการ </p>
    <p><span class="text-muted">ID Hospital Director</span></p>
    <p class="">คนที่เต็มเปี่ยมไปด้วยความหวังนั้นคือความหวังในตนเอง. จากบทกลอนบรรทัดหนึ่งทำให้เกิดความคิดหลายแง่.</p>
    <p class="">ฉันคือคนที่เต็มเปี่ยมไปด้วยความหวังหรือไม่? <br>
      โรงพยาบาลไอดี เป็นสถานที่เต็มไปด้วยความหวังหรือเปล่า? <br>
      และคนไข้ของโรงพยาบาลไอดีคือคนที่เต็มเปี่ยมไปด้วยความหวังใช่ไหม? </p>
    
    
    <p>
      โรงพยาบาลไอดีคือที่ปลูกความหวังและแบ่งปันให้แก่กัน.
      เราขอเป็นกำลังใจให้กับการมีความหวังของคนไข้และช่วยเหลือ หล่อเลี้ยงความฝันของทุกคน…
    </p>
    
    <p>
      เหมือนดั่งคำร้องของเพลงเพลงหนึ่ง มนุษย์เท่านั้นคือความหวัง.
      การมีความหวังที่เต็มเปี่ยมของคนไข้นั้น คือความหวังของโรงพยาบาลไอดี.
    </p>
    
    <p class="text-muted">
      สมาชิกสมาคม ศัลยแพทย์ตกแต่ง ประเทศเกาหลี
      ผู้อำนวยการโรงพยาบาลไอดี ปาร์คซังฮุน</p>
  </div>

  <hr>

  
</div>

<div class="row">
  <div class="col-lg-12 text-center mt-3 mb-3">
    <p class="to_h1">ทีมแพทย์ผู้เชี่ยวชาญ</p>
  </div>
    <div class="col-lg-3 text-center">
      <img class="img-fluid" src="../../../assets/doctors/il-hwan-kim-e1583793459410.jpg" alt="">
      <p class="pt-2 to_h3">คิมอิลฮวัน Ph.D.</p>
    </div>
    <div class="col-lg-3 text-center">
      <img class="img-fluid" src="../../../assets/doctors/eun-jin-yang-e1583794481784.jpg" alt="">
      <p class="pt-2 to_h3">ยังอึนจิน M.D.</p>
    </div>
    <div class="col-lg-3 text-center">
      <img class="img-fluid" src="../../../assets/doctors/woo-seok-jang-e1583794498988.jpg" alt="">
      <p class="pt-2 to_h3">บังชียอง M.D.</p>
    </div>
    <div class="col-lg-3 text-center">
      <img class="img-fluid" src="../../../assets/doctors/chi-young-bang-e1583794506401.jpg" alt="">
      <p class="pt-2 to_h3">จังอูซอก M.D.</p>
    </div>
</div>

<hr class="hr-between-section">



<div class="row featurette">
  <div class="col-md-7">
    <div class="quote-wrapper">
      <p class="fs-3 quote-text">อยากบินไปทำสวยที่ ร.พ.ไอดีเกาหลี วางใจให้แกรนด์ นิว ไลฟ์ ดูแล “ถูกกว่าไปเอง” เราช่วยประสานงานขอราคาพิเศษ และส่วนลดเพิ่มเติมได้ค่ะ</p>
    </div>
    <div class="quote-text-wrapper">
      <p >
        ไม่ว่าอยากจะปรับ จะอัพสวยแบบไหน แกรนด์ นิว ไลฟ์ และทีมงานทุกคน ก็พร้อมให้คำปรึกษา ดูแลน้องๆ ตลอด 24 ชั่วโมง
      </p>
    </div>
    
  </div>
  <div class="col-md-5">
    <div class="case-img-container rounded">
      <img class="x1-img-controller" src="https://live.staticflickr.com/65535/52542920699_3371ad0a92_k.jpg" alt="">
    </div>
  </div>

  <hr class="hr-between-section">

  <!-- Show case pictures -->
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img src="../../../assets/cases/case- (11).jpeg"
        class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

      <img src="../../../assets/cases/case- (13).jpeg" class="w-100 shadow-1-strong rounded mb-4"
        alt="Wintry Mountain Landscape" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img src="../../../assets/cases/case- (6).jpeg" class="w-100 shadow-1-strong rounded mb-4"
        alt="Mountains in the Clouds" />

      <img src="../../../assets/cases/case- (12).jpeg"
        class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img src="../../../assets/cases/case- (10).jpeg"
        class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

      <img src="../../../assets/cases/case- (5).jpeg" class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park" />
    </div>
  </div>
  

  <hr class="my-5">

  <div class="row my-5">
    <div class="col-lg-12 ">
      <div>  
        <h3><strong>แกรนด์ นิว ไลฟ์ เรามั่นใจในราคาทำศัลยกรรม ที่โรงพยาบาลเกาหลีที่พิเศษกว่าใคร</strong></h3>
        <p><span style="font-weight: 400;">เราใส่ใจความพึงพอใจของคนไข้ จึงไม่มีการเสนอขายเพิ่มเกินความเป็นจริงและทำทุกอย่างตามความต้องการของคนไข้เท่านั้น แกรนด์ นิว ไลฟ์ จึงยืนยันว่าเรื่องสิทธิพิเศษ เรามีให้มากกว่า คุณสามารถเทียบราคาและเทียบสิทธิต่อรองกับโรงพยาบาลได้เลย เพราะเราให้ราคาเทียบเท่าซื้อตรงจากโรงพยาบาลแถมยังมีบริการนอกเหนือโรงพยาบาล</span></p>
        <p><span style="font-weight: 400;">&nbsp;จึงกล้ายืนยันว่า </span><span style="font-weight: 400;">&ldquo;ถูกกว่าไปเอง&rdquo; </span><span style="font-weight: 400;">อีกทั้งเรายังเต็มที่ในการช่วยประสานงานขอราคาพิเศษและส่วนลดเพิ่มเติม และในทุกการชำระเงินจะทำผ่านโรงพยาบาลโดยตรง คุณจึงสามารถตรวจสอบได้ ว่าไม่มีการบวกเพิ่มแน่นอน เรากล้าการันตี</span><span style="font-weight: 400;">ในราคาที่พิเศษกว่าใคร</span><span style="font-weight: 400;"> เพราะเราเข้าใจลูกค้า และมุ่งเน้นที่จะมอบแต่ประสบการณ์สุดประทับใจ จริงใจ และสะดวกสบายแก่คุณ</span></p>
      </div>
    </div>
  </div>

  <!-- Feed back-->
  <div class="col-lg-12 mt-5">
    <div>
      <p class="to_h1">ฟีดแบค จากลูกค้าเรา</p>
      <p>สิทธิต่างๆ ทาง GRANDNEWLIFE ให้มากกว่า คนไข้สามารถเทียบราคา เทียบสิทธิต่อรอง ถึงกล้ายืนยันว่า <span class="fw-bold">“ถูกกว่าไปเอง”</span></p>
    </div>
  </div>

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-1.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-2.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-3.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-4.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-5.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-6.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-7.png" alt="">
            </div>
          </div>
          <div class="col-lg-3">
            <div class="test-img-container ">
              <img class="x3-img-controller" src="../../../assets/chat/chat-8.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <hr class="hr-between-section">
  <!-- Map  -->
  <div class="col-md-12">
    <div class="map-section">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3876.314462863808!2d100.63572369489737!3d13.699394567202942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d617d34ed1aa9%3A0xd8dea0c7fd07d305!2z4Lia4Lij4Li04Lip4Lix4LiXIOC5geC4geC4o-C4meC4lOC5jCDguJnguLTguKcg4LmE4Lil4Lif4LmMIOC4iOC4s-C4geC4seC4lA!5e0!3m2!1sen!2shu!4v1668377619095!5m2!1sen!2shu" width="1299" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>



</section>






<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>