<section class="slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="carousel-image-wrapper">
            <img src="../../../assets/hopitals/eu-hospital/banner_eu.png" class="d-block w-100" alt="...">
          </div>
          <div class="container">
            <div class="carousel-caption custome-carousel-caption text-white  pt-2 rounded slider-custom-bg">
                <h2 class="lh-sm to_h1">มีศูนย์ปรึกษาคุณหมอจากเกาหลี รองรับลูกค้าเพื่อให้คำปรึกษา</h2>
                <p class="fs-5">จากประสบการณ์การทำศัลยกรรม ที่เกาหลีด้วยตัวเองและด้วยการดูแลเคสลูกค้ามาตลอด มากกว่า 8 ปี </p>
                <div class="text-end">
                  <a class="bg-second  btn text-white text-end" href="tel:0987849936">สอบถามรายละเอียด</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="to_h1">โรงพยาบาลศัลยกรรม EU เข้าใจความสวยที่แท้จริงอย่างลึกซึ้ง</h1>
            <p><span style="font-weight: 400;">ด้วยประสบการณ์ที่ยาวนานมากว่า 14 ปี โรงพยาบาลศัลยกรรม EU จึงเป็นผู้นำด้านการทำศัลยกรรมโครงหน้าและขากรรไกรรวมถึงด้านทันตกรรมอย่างแท้จริง EU Oral &amp; Maxillofac ให้บริการโดยแพทย์ผู้เชี่ยวชาญ</span><span style="font-weight: 400;">ที่รับผ่าตัดแค่กระดูกโเอครงหน้าและขากรรไกรเพียงอย่างเดียวเท่านั้น คุณจึงมั่นใจได้ว่าจะได้รับการออกแบบโครงหน้าใหม่อย่างเหมาะสมในทุกเคส ไม่ออกมาซ้ำกันแน่นอน เพื่อให้คุณได้รับการแก้ไขจุดบกพร่องได้อย่างตรงจุด</span></p>
            <h2 class="to_h2">โรงพยาบาล EU เนรมิตรความงามตามอุดมคติบนหลัก Gold Ratio</h2>
            <p><span style="font-weight: 400;">โรงพยาบาล </span><span style="font-weight: 400;">EU Oral &amp; Maxillofac คือศูนย์ศัลยกรรมที่รับผ่าตัดแค่กระดูกโครงหน้า ขากรรไกร และทันตกรรมเพียงอย่างอย่างเดียวเท่านั้น นำโดยทีมแพทย์ผู้ก่อตั้งที่มีชื่อเสียงด้านนี้โดยเฉพาะอย่าง </span><span style="font-weight: 400;">Dr. Kim Jong Yoon และ Dr. Shin Hee Jin เหล่า</span><span style="font-weight: 400;">อดีต</span><span style="font-weight: 400;">ศัลยแพทย์จากโรงพยาบาล ID ผู้บุกเบิกศาสตร์การปรับรูปหน้านั่นเอง มากไปกว่านั้น อาจารย์แพทย์ทั้งสองท่านนี้ยังเคยเป็นหนึ่งในทีมแพทย์หลักจากรายการ</span> <span style="font-weight: 400;">Let Me In ถึง 3 ซีซั่น รายการที่</span><span style="font-weight: 400;">ช่วยเหลือผู้คนที่มีความผิดปกติทางด้านบุคคลิกภาพและหน้าตาที่เป็นปัญหาในการดำรงชีวิตให้ได้รับชีวิตใหม่ที่ดีขึ้นผ่านการศัลยกรรมแก้จุดบกพร่องเหล่านั้น&nbsp;</span></p>
            <p><span style="font-weight: 400;">ความเชี่ยวชาญและประสบการณ์ที่สูงของ Dr. Kim Jong Yoon และ Dr. Shin Hee Jin ได้ทำให้โรงพยาบาลอียูกลายเป็นที่นิยมและเป็นที่น่าเชื่อถืออย่างกว้างขวางในประเทศเกาหลี และด้วยประสบการณ์ที่มีมากว่า 14 ปี โรงพยาบาลอียูจึงกลายเป็นผู้นำด้านการผ่าตัดขากรรไกร ปรับรูปหน้า และทันตกรรม ที่ได้รับการยอมรับจากทั่วโลก ไม่ว่าจะทั้งในประเทศเกาหลี หรือประเทศไทยเองก็ตาม ทำให้โรงพยาบาล EU ได้ผ่านการรักษาคนไข้มาจำนวนนับไม่ถ้วน มั่นใจได้เลยว่าคุณจะมีโครงหน้าที่สวยเฉพาะบุคคล มีมิติ และมีใบหน้าที่เด็กลงอย่างแน่นอน EU Oral &amp; Maxillofac จึงเป็นที่ยอมรับอย่างแท้จริงว่าสามารถเนรมิตรความงามของโครงหน้าตามอุดมคติบนหลักอัตราส่วนทองคำ (Golden Ratio) ทำให้ความสมส่วนและความสวยงามที่เกิดขึ้นดูเป็นธรรมชาติและเหมาะสมมากที่สุดสำหรับคุณ</span></p>
            <h2 class="to_h2">กว่า 14 ปีที่ โรงพยาบาล EU เป็นผู้นำด้านโครงหน้าและขากรรไกร </h2>
            <p><span style="font-weight: 400;">ความพิเศษที่ทำให้การศัลยกรรมโครงหน้าและขากรรไกรที่โรงพยาบาล EU แตกต่างจากโรงพยาบาลอื่น ๆ คือความเชี่ยวชาญที่สูงและคุณภาพของทีมแพทย์ที่ทำการผ่าตัด ทีมแพทย์ที่โรงพยาบาล EU เป็นทีมศัลยแพทย์เฉพาะทางด้านกะโหลกศีรษะและทันตกรรม ที่มีประสบการณ์และความเชี่ยวชาญมากว่า 14 ปี นอกจากนี้ยังเป็นถึงดีกรีอาจารย์แพทย์ที่เป็นการยืนยันความเชี่ยวชาญของทีมแพทย์ว่ามีทักษะที่สามารถเนรมิตรผลลัพธ์ที่น่าพึงพอใจ และปลอดภัยได้อย่างแน่นอน มากไปกว่านั้น ทักษะและความเชี่ยวชาญของทีมแพทย์ที่โรงพยาบาล EU ยังเป็นที่ยอมรับและเป็นที่น่าเชื่อถือในวงการมากขึ้นไปอีกขั้น ด้วยความสามารถที่ทำให้คนไข้ฟื้นตัวได้เร็วในระยะเวลาอันสั้น อีกทั้งยังไม่มีอาการบวมหนักหลังจากกระบวนการผ่าตัดที่ซับซ้อนและยิ่งใหญ่จากการศัลยกรรมโครงหน้าและขากรรไกร</span></p>
            <p><span style="font-weight: 400;">มากไปกว่านั้น ด้วยความทุ่มเทของทีมแพทย์ที่มุ่งมั่นสร้างเพียงผลลัพธ์ที่ดีที่สุดแก่คนไข้ ทำให้ EU Oral &amp; Maxillofac รับเคสจำนวนจำกัดเพียงวันละ 2 เคสเท่านั้น เพื่อให้มั่นใจในความละเอียดและความใส่ใจที่จะทำให้ใบหน้าของคนไข้ออกมาสวยที่สุด เพราะโรงพยาบาลอียูให้ความสำคัญกับผลลัพธ์และความปลอดภัยของคนไข้เป็นอันดับ 1 โดยไม่คำนึงถึงผลประโยชน์ของโรงพยาบาล คุณจึงเป็นใจกลางความสำคัญที่โรงพยาบาล EU </span><span style="font-weight: 400;">Oral &amp; Maxillofac เสมอ</span></p>
            <h3 class="to_h3">โรงพยาบาล EU จะจริงใจกับคุณเสมอ</h3>
            <p><span style="font-weight: 400;">โรงพยาบาล EU ยังให้ความสำคัญในการให้บริการที่ดีและความเอาใจใส่คนไข้ ทีมแพทย์และพยาบาลจึงพร้อมดูแลคนไข้ในทุกขั้นตอนของการรักษาอย่างละเอียด เริ่มต้นตั้งแต่ขั้นตอนการให้คำปรึกษา การวิเคราะห์โครงหน้าของแต่ละบุคคลโดยเฉพาะ และการวินิฉัยขั้นตอนการผ่าตัดสำหรับแต่ละบุคคล ทั้งหมดนี้จะดำเนินการไปด้วยความละเอียด เพราะโรงพยาบาลอียูจะเป็นสถานที่ที่อบอุ่น เป็นกันเอง และจริงใจกับคุณเสมอ</span></p>
            <p><span style="font-weight: 400;">EU Oral &amp; Maxillofac ยังให้ความสำคัญกับความปลอดภัยอย่างสูงที่สุดอีกด้วย การผ่าตัดจะดำเนินโดยแพทย์ผู้เชี่ยวชาญและเทคโนโลยีเครื่องมือแพทย์สมัยใหม่ เพื่อให้การผ่าตัดมีความแม่นยำและคุณภาพที่ดีที่สุด โรงพยาบาลอียูยังมีความพร้อมในการดูแลคนไข้ในสถานการณ์ฉุกเฉินด้วยเทคโนโลยีทันสมัยในการดูแลและตรวจสอบสถานะของคนไข้อย่างใกล้ชิด เช่น การใช้ระบบอุปกรณ์ดมยาสลบระดับโรงพยาบาลมหาวิทยาลัย และมอเตอร์ MB5 เพื่อวัด NIBP, SpO2, ECG, EtcO2 ช่วยให้ทีมแพทย์ตรวจสอบสภาพร่างกายของคนไข้อย่างรวดเร็วและแม่นยำ ทำให้สามารถตรวจสอบอาการของคนไข้และรับมือกับสถานการณ์ฉุกเฉินได้ทันที นอกจากนี้ยังมีเครื่องกระตุกหัวใจไฟฟ้าที่ใช้ในกรณีฉุกเฉินที่เกิดขึ้น และมีระบบ UPS และอุปกรณ์ฉุกเฉินเตรียมพร้อมเผื่อสถานการณ์ไฟดับ ทำให้โรงพยาบาล EU มีความสามารถในการรักษาและดูแลคนไข้ในสถานการณ์ฉุกเฉินได้รวดเร็วและมีความปลอดภัยสูงสุด อีกทั้งยังมีพยาบาลและวิสัญญีแพทย์แบบ 1:1 เฝ้าตลอดการผ่าตัด เพื่อเพิ่มความปลอดภัยและความสะดวกสบายแก่คนไข้อีกด้วย</span></p>
            <p><span style="font-weight: 400;">ที่โรงพยาบาล EU หลังการศัลยกรรมกระดูกโครงหน้า ไม่ต้องใช้สายเดรนเลือดในการช่วยระบายเลือดออกเหมือนกับโรงพยาบาลอื่น ๆ อีกด้วย นั่นเป็นเพราะทีมแพทย์ที่ทำการผ่าตัดมีความเชี่ยวชาญและใช้เทคนิคการแพทย์ขั้นสูงในการดำเนินการ ทำให้แผลที่เกิดขึ้นเล็กที่สุด ส่งผลให้เกิดการไหลของเลือดน้อย จึงเกิดอาการบวมเพียงน้อยเมื่อเทียบกับการผ่าตัดใหญ่ระดับนี้ การใช้เทคนิคการผ่าตัดที่ทันสมัยและความชำนาญของทีมแพทย์โรงพยาบาลอียู ทำให้คนไข้สามารถพักฟื้นเร็วขึ้น รวมถึงลดความเจ็บปวด และภาวะบวมช้ำที่เกิดขึ้นหลังการผ่าตัดได้ คนไข้จึงสามารถมั่นใจในผลลัพธ์ที่ได้รับ และเมื่อการผ่าตัดเสร็จสิ้น ห้องพักฟื้นหลังการผ่าตัดจะมีพยาบาลดูแลตลอด 24 ชั่วโมง รวมถึงล่ามภาษาไทยคอยให้บริการหลังการผ่าตัดอย่างใกล้ชิด เพื่ออำนวยความสะดวกให้คุณรู้สึกสบายใจที่สุด เพราะโรงพยาบาล EU จะสร้างสภาพแวดล้อมที่อบอุ่น เป็นกันเอง และจะจริงใจกับคุณเสมอ</span></p>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/eu-hospital/image1.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/eu-hospital/image2.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/eu-hospital/image3.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/eu-hospital/image4.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/eu-hospital/image5.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/eu-hospital/image6.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/eu-hospital/image7.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/eu-hospital/image8.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/eu-hospital/image9.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/eu-hospital/image10.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/eu-hospital/image11.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/eu-hospital/image12.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/eu-hospital/image13.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/eu-hospital/image14.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        <div class="col-lg-6 mb-3">
            <div class="mb-2">
                <img src="../../../assets/hopitals/eu-hospital/image15.jpeg" class="w-100 shadow-1-strong rounded my-1" alt="Boat on Calm Water" />
            </div>
        </div>
        
    </div>
  </section>