.navbar-content {
    max-width: 1300px;
    
}

.nav-custom-bg {
     background-color: var(--primary);
}

.navbar-collapse {
    justify-content: end;
}

li {
    padding:0.5rem 0.5rem 0rem 0.5rem;
}